#paymentArea {
  font-weight: 500;
  position: relative;
  z-index: 1;
  transition: all 0.4s ease;
  border-radius: 1rem;
  padding-top: 1rem !important;
  padding-bottom: 2rem !important;
}
#paymentArea:hover {
  box-shadow: 0 0 20px #005B52;
}

.image-cropper {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.image-cropper img {
  height: 100%;
  object-fit: cover;
}

.exitButton {
  background-color: #1a9cc5;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 1.5rem;
  font-weight: 400;
}
.exitButton:hover {
  box-shadow: #1a9cc5 0 0 20px;
}

.paymentActiveButton {
  background-color: #1a9cc5;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 1.5rem;
  font-weight: 400;
}

.paymentNonactiveButton {
  border-color: #0e1111;
  background-color: ghostwhite;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 1.5rem;
  font-weight: 400;
}

.paypal-logo {
  width: 120px;
  height: 30px;
  object-fit: contain;

}

.sepa-logo {
  width: 120px;
  height: 30px;
  object-fit: contain;
}

.errorText{
  color: darkred;
}
.successText{
  color: #1a9cc5;
}
