<nav class="navbar navbar-expand-lg bg-body-tertiary p-0">
  <div class="container-fluid mc-green">
    <div class="hstack">
      <a class="navbar-brand" href="#">
        <img ngSrc="../../assets/myCargonaut-White.png" alt="myCargonaut-Logo" height="80" width="193"/></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
              aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link text-white navbar-font" href="#">Angebote</a>
          <a class="nav-link text-white navbar-font" href="#">Gesuche</a>
        </div>
      </div>
    </div>
    <div class="hstack ms-auto">
      <a href="#" class="fa-stack fa-2x p-0 m-0 mx-3">
        <fa-icon [icon]="faCircle" class="fa-stack-1x text-white"></fa-icon>
        <fa-icon [icon]="faCirclePlus" class="fa-stack-1x btn-blue"></fa-icon>
      </a>
      <a href="#">
        <fa-icon [icon]="faCar" class="fa-2x text-white mx-3 ms-5"></fa-icon>
      </a>
      <a href="#">
        <fa-icon [icon]="faHouse" class="fa-2x text-white mx-3"></fa-icon>
      </a>

      <div class="dropdown">
        <a href="#">
          <fa-icon [icon]="faUser" class="dropdown-toggle fa-2x text-white mx-3" id="dropdownMenuLink"
                   role="button" data-bs-toggle="dropdown" aria-expanded="false"></fa-icon>
        </a>

        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
