<div class="container mt-3 mb-3 text-start">
  <div class="text-end col-12">
    <button type="button" class="btn btn-primary cancelButton text-center" id="cancelButton"
            (click)="changeAddTrailerState()">
      <i>
        <fa-icon [icon]="faXmark"></fa-icon>
      </i>
    </button>
  </div>
  <form #form="ngForm" (ngSubmit)="saveTrailer(form)">
    <div class="row">
      <div class="p-5" id="addTrailerArea">
        <div class="row mb-5">
          <div class="col-1"></div>
          <div class="col-5">
            <h1 class="textGreen col-7">Infos:</h1>
            <div class="col-12">
              <input [(ngModel)]="model" [ngModelOptions]="{standalone: true}" type="text" class="rounded-5 p-2 col-8" required placeholder="Modellname" id="trailerModel">
            </div>
            <div class="col-12 mt-5 d-flex align-bottom justify-content-start align-items-center" *ngIf="editingTrailer != 0">
              <button type="button" class="btn customButton deleteButton text-light" (click)="deleteTrailer(editingTrailer)">
                <i>
                  <fa-icon [icon]="faDeleteLeft"></fa-icon>
                </i>
                <span class="ms-3">Trailer Löschen</span>
              </button>
            </div>
          </div>
          <div class="col-5">
            <h1 class="textGreen col-7">Maße:</h1>
            <div class="col-12">
              <input [(ngModel)]="weight" [ngModelOptions]="{standalone: true}" type="number" required class="rounded-5 p-2 col-8" placeholder="max. Gewicht in kg (Bsp. 535,50)" id="trailerWeight">
            </div>
            <div class="col-12 mt-5">
              <input [(ngModel)]="length" [ngModelOptions]="{standalone: true}" type="number" required class="rounded-5 p-2 col-8" placeholder="Länge in cm (Bsp. 3,20)" id="trailerLength">
            </div>
            <div class="col-12 mt-5">
              <input [(ngModel)]="width" [ngModelOptions]="{standalone: true}" type="number" required class="rounded-5 p-2 col-8" placeholder="Breite in cm (Bsp. 1,30)" id="trailerWidth">
            </div>
            <div class="col-12 mt-5">
              <input [(ngModel)]="height" [ngModelOptions]="{standalone: true}" type="number" required class="rounded-5 p-2 col-8" placeholder="Höhe in cm (Bsp. 0,80)" id="trailerHeight">
            </div>
            <div class="col-12 mt-3">
              <div class="row">
                <div class="col-2"></div>
                <div class="col-1">
                  <input [(ngModel)]="isCooled" [ngModelOptions]="{standalone: true}" type="checkbox" class="form-check-input larger-checkbox mt-2">
                </div>
                <div class="text-start my-auto col">
                  <span>Hat eine Klimaanlage</span>
                </div>
              </div>
            </div>
            <div class="col-12 mt-3">
              <div class="row">
                <div class="col-2"></div>
                <div class="col-1">
                  <input [(ngModel)]="isEnclosed" [ngModelOptions]="{standalone: true}" type="checkbox" class="form-check-input larger-checkbox mt-2">
                </div>
                <div class="text-start my-auto col">
                  <span>Ist angeschlossen</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-1"></div>
        </div>
        <div class="row d-flex justify-content-center align-bottom text-center">
          <div class="col-12">
            <span class="text-danger">{{ errorMessage }}</span>
          </div>
        </div>
      </div>
      <div class="col-12 align-bottom d-flex justify-content-around align-items-center">
        <button type="submit" class="btn customButton exitButton text-light">
          <i>
            <fa-icon [icon]="faSave"></fa-icon>
          </i>
          <span class="ms-3">Speichern</span>
        </button>
      </div>
    </div>
  </form>
</div>
