<div class="rounded-3 container mt-3 mb-3 text-start" *ngIf="templateToLoad === 'summaryOffer' && isLoggedIn">
  <form #form="ngForm" (ngSubmit)="saveOffer(form)">
    <div class="row">
      <div class="p-5" id="summaryArea" *ngIf="templateToLoad === 'summaryOffer' && isLoggedIn">
        <h1 class="textGreen text-center">Zusammenfassung</h1>
        <div class="row mt-4 justify-content-between">
          <div class="col-4">
            <img class="w-100 rounded-3 custom-card" src="../../../assets/Cybertruck-fremont-cropped.jpg">
          </div>
          <div class="col-7">
            <div class="row">
              <div class="col-auto">
                <h4>Entspannte Fahrt in meinem Tesla</h4>
                <div class="hstack justify-content-end text-end">
                  <p>Elon Musk</p>

                </div>
              </div>
              <div class="col-4">
                <h3>1000€</h3>
                <p class="">pro Person</p>
              </div>
            </div>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-4"></div>
          <div class="col-4"></div>
        </div>
        <div class="row">
          <div class="col-4"></div>
          <div class="col-4"></div>
        </div>


      </div>
    </div>
  </form>
</div>
