<div class="rounded-3" *ngIf="templateToLoad === 'summaryOffer' && isLoggedIn">
  <p>Test</p>
  <!--<h1 mat-dialog-title>Zusammenfassung</h1>
  <div mat-dialog-content class="text-center">
    <input [(ngModel)]="cargoDescription" [ngModelOptions]="{standalone: true}" name="cargoDescription" required
           type="text" class="rounded-5 p-2 mb-2 col-12" placeholder="Name des Cargo" id="cargoDescription">
    <input [(ngModel)]="cargoWeight" [ngModelOptions]="{standalone: true}" name="cargoWeight" required
           type="text" class="rounded-5 p-2 mb-2 col-12" placeholder="Gewicht in kg (2,50)" id="cargoWeight">
    <input [(ngModel)]="cargoLength" [ngModelOptions]="{standalone: true}" name="cargoLength" required
           type="text" class="rounded-5 p-2 mb-2 col-12" placeholder="Länge in m (3,20)" id="cargoLength">
    <input [(ngModel)]="cargoWidth" [ngModelOptions]="{standalone: true}" name="cargoWidth" required
           type="text" class="rounded-5 p-2 mb-2 col-12" placeholder="Breite in m (3,55)" id="cargoWidth">
    <input [(ngModel)]="cargoHeight" [ngModelOptions]="{standalone: true}" name="cargoHeight" required
           type="text" class="rounded-5 p-2 mb-2 col-12" placeholder="Höhe in m (2,52)" id="cargoHeight">
  </div>
  <div mat-dialog-actions class="justify-content-end">
    <button mat-button (click)="onClose()">Close</button>
    <button mat-button (click)="onSubmit()">Submit</button>
  </div>-->
</div>
