<div class="container">

  <div class="row horizontal-center">
    <h1 class="greenText m-5">{{ this.thisOfferName || this.thisRequestName }}</h1>
  </div>

  @if (this.offerBool) {
    @for (element of allTripsOffer; track $index) {
      <div class="row ">
        <div class="col-lg-12 col-12 ">
          <div class="card m-4">
            <div class="row no-gutters flex-column flex-lg-row card-horizontal">
              <div class="col-lg-3 mt-4">
                <div class="row">
                  <div class="col-5">
                    <div class="ms-2">
                      <img [ngSrc]="window.location.protocol + '//' + window.location.host.replace('4200', '8000') + pathToImageArray[$index]" width="300" height="200" class="img-fluid rounded-img " alt="">
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="row">
                      <span>{{ element.requesting.firstName }}</span>
                    </div>
                    <div class="row">
                      <span>{{ element.requesting.lastName }}</span>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <img src="./assets/star-fill.svg" alt="star1" class="blueText">
                        <img src="./assets/star-fill.svg" alt="star1" class="blueText">
                        <img src="./assets/star-fill.svg" alt="star1" class="blueText">
                        <img src="./assets/star-fill.svg" alt="star1" class="blueText">
                        <img src="./assets/star-fill.svg" alt="star1" class="blueText">

                      </div>
                    </div>
                  </div>
                </div>


              </div>
              <div class="col-lg-9">
                <div class="card-body mt-4">
                  <div class="container-fluid">


                    <div class="row ">
                      <div class="col-12 col-lg-3 ">

                        <div class="row">
                          <div class="col-6 col-lg-4 ">
                            <span>von:</span>
                          </div>
                          <div class="col-6 col-lg-8">
                            <span
                              class="highlightText">{{ element.startLocation.zipCode }} {{ element.startLocation.city }}</span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-6 col-lg-4">
                            <span>nach:</span>
                          </div>
                          <div class="col-6 col-lg-8">
                            <span
                              class="highlightText">{{ element.endLocation.zipCode }} {{ element.endLocation.city }}</span>
                          </div>
                        </div>
                      </div>

                      <div class="col-12 col-lg-6">
                        <div class="row">
                          <div class="col-6">
                            <span>Gesamtgewicht:</span>
                          </div>
                          <div class="col-6">
                            <span class="highlightText">{{ gesamtgewicht }} Kilo</span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-6">
                            <span>gesamt Maße:</span>
                          </div>
                          <div class="col-6">
                            <span class="highlightText">{{ masse[($index * 3)] }}cm / {{ masse[($index * 3) + 1] }}
                              cm / {{ masse[($index * 3)] + 2 }}cm</span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-6">
                            <span>benötigte Plätze:</span>
                          </div>
                          <div class="col-6">
                            <span class="highlightText">{{ element.usedSeats }}</span>
                          </div>
                        </div>
                      </div>


                      <div class="col-12 col-lg-3">
                        <div class="horizontal-right">
                          <a href="">
                            <button type="button" class="btn btn-primary greenButton m-2">Anfrage annehmen</button>
                            <button type="button" class="btn btn-primary greenButton m-2">Chatnachricht schreiben
                            </button>

                          </a>
                        </div>
                      </div>
                    </div>

                  </div>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    }
  } @else if (this.requestBool) {
    @for (element of allTripsRequest; track $index) {
      <div class="row ">
        <div class="col-lg-12 col-12 ">
          <div class="card m-4">
            <div class="row no-gutters flex-column flex-lg-row card-horizontal">
              <div class="col-lg-3 mt-4">
                <div class="row">
                  <div class="col-5">
                    <div class="ms-2">
                      <img [ngSrc]="window.location.protocol + '//' + window.location.host.replace('4200', '8000') + pathToImageArray[$index]" width="300" height="200" class="img-fluid rounded-img " alt="">

                    </div>
                  </div>
                  <div class="col-6">
                    <div class="row">
                      <span>{{ element.requesting.firstName }}</span>
                    </div>
                    <div class="row">
                      <span>{{ element.requesting.lastName }}</span>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <img src="./assets/star-fill.svg" alt="star1" class="blueText">
                        <img src="./assets/star-fill.svg" alt="star1" class="blueText">
                        <img src="./assets/star-fill.svg" alt="star1" class="blueText">
                        <img src="./assets/star-fill.svg" alt="star1" class="blueText">
                        <img src="./assets/star-fill.svg" alt="star1" class="blueText">

                      </div>
                    </div>
                  </div>
                </div>


              </div>
              <div class="col-lg-9">
                <div class="card-body mt-4">
                  <div class="container-fluid">


                    <div class="row ">
                      <div class="col-12 col-lg-3 ">

                        <div class="row">
                          <div class="col-6 col-lg-4 ">
                            <span>von:</span>
                          </div>
                          <div class="col-6 col-lg-8">
                            @for (location of this.thisRequestLocations; track $index) {
                              @if (location.stopNr == 1) {
                                <span class="highlightText">{{ location.zipCode }} {{ location.city }}</span>
                              }
                            }
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-6 col-lg-4">
                            <span>nach:</span>
                          </div>
                          <div class="col-6 col-lg-8">

                            @for (location of this.thisRequestLocations; track $index) {
                              @if (location.stopNr == 100) {
                                <span class="highlightText">{{ location.zipCode }} {{ location.city }}</span>
                              }
                            }
                          </div>
                        </div>
                      </div>

                      <div class="col-12 col-lg-6">

                        <div class="row">
                          <div class="col-12">
                            <div class="row">
                              <div class="col-6">
                                <span>Gewicht:</span>
                              </div>
                              <div class="col-6">
                                <span class="highlightText">{{ element.car.weight }} Kilo</span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-6">
                                <span>Maße:</span>
                              </div>
                              <div class="col-6">
                            <span class="highlightText">{{ element.car.length }}m / {{ element.car.height }}
                              m / {{ element.car.width }}m </span>
                              </div>
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="row">
                              <div class="col-6">
                                <span>verf. Plätze:</span>
                              </div>
                              <div class="col-6">
                                <span class="highlightText">{{ element.car.seats }}</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12 ">
                            <div class="row mt-2">
                              <div class="col-6">
                                <span>Trailer Gewicht:</span>
                              </div>
                              <div class="col-6">
                                <span class="highlightText">{{ element.trailer.weight}} Kilo </span>
                              </div>
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="row mt-2">
                              <div class="col-6">
                                <span>Trailer Maße:</span>
                              </div>
                              <div class="col-6">
                            <span class="highlightText">{{ element.trailer.length }}m / {{ element.trailer.height }}
                              m / {{ element.trailer.width }}m </span>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>

                      <div class="col-12 col-lg-3">
                        <div class="horizontal-right">
                          <a href="">
                            <button type="button" class="btn btn-primary greenButton m-2">Anfrage annehmen</button>
                            <button type="button" class="btn btn-primary greenButton m-2">Chatnachricht schreiben
                            </button>

                          </a>
                        </div>
                      </div>
                    </div>

                  </div>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    }
  }


</div>
