.horizontal-center {
  display: flex;
  justify-content: center;
  text-align: center;
}
.greenText{
  color: #005B52;

}
.img-fluid {
  border-radius: 50%;
  overflow: hidden;
}

.img-fluid {
  width: 100px;
  height: 100px;
  object-fit: cover; /* Wichtig: Beschnitten, um das Seitenverhältnis zu erhalten */
  object-position: center center; /* Optional: Zentriert das Bild im Container */
  display: block;
  border-width: 50px ;
}
.greenButton{
  background-color: #005B52;
  color: white;
  border-radius: 15px;
  font-size: 10px;
}
.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.greenText {
  color: #005B52;
}

.searchBanner {
  color: white;
  background-color: #005B52;
  border-radius: 15px;
}

.blueButton {
  background-color: #1A9CC5;
  border-radius: 15px;
}

.blueText {
  color: #1A9CC5;
}

.inputBanner {
  border-radius: 20px;
}

.inputBanner::placeholder {
  color: black;
}

.inputLowBanner {
  border-radius: 10px;
  border-color: #005B52;
  color: #005B52;
  height: 30px;
}

.inputLowBanner::placeholder {
  color: #005B52;
  opacity: 50%;
}

.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: large;
}

.horizontal-right {
  display: flex;
  justify-content: end;
}

.horizontal-center {
  display: flex;
  justify-content: center;
}

.greenButton {
  background-color: #005B52;
  color: white;
  border-radius: 15px;
}

.card {
  border: 1px solid #005B52;  /* Hier wird der Rahmen korrekt definiert */
  border-radius: 10px;
  overflow: hidden;  /* Hilft bei runden Ecken */
}

.card:hover {
  box-shadow: 0 0 20px #005B52;
}

.highlightText {
  color: black;
  font-weight: bold;
}
