<div class="container">
  <div class="row m-5">
    <div class="col-12 my-auto">
      <div class="row text-center">
        <h1 class="textGreen">Deine Chats</h1>
      </div>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="trips col-5">
          <div *ngIf="rooms.length === 0; else chatList">
            <p>Bisher hast Du keine Chats!</p>
          </div>
          <ng-template #chatList>
            <div>
              <div *ngFor="let room of rooms" class="trip-card">
                <div class="row card userCards justify-content-start position-relative" (click)="selectRoom(room)">
                  <div class="profile-container col-12 align-items-center">
                    <img *ngIf="trips[room].user.profilePic"
                         [src]="getProfilePicUrl(trips[room].user.profilePic)"
                         width="130"
                         height="130"
                         class="profileCircle"
                         alt="profile">
                    <div class="initials">
                      {{ getInitials(trips[room].user) }}
                    </div>
                    <div class="col-auto ms-3">
                      <div class="card-body">
                        <h5 class="card-title">{{ trips[room]?.drive?.name || '' }}</h5>
                        <p class="card-text">{{ formatDate(trips[room]?.drive?.date || '') }}</p>
                        <ng-container *ngIf="trips[room]?.drive?.status >= 1">
                          <span class="card-text">
                            <fa-icon [icon]="faPhone"></fa-icon>{{ trips[room]?.requesting?.phoneNumber }}
                          </span>
                        </ng-container>
                      </div>
                    </div>
                    <!-- Blue dot for unread messages -->
                    <ng-container *ngIf="hasUnreadMessages(room)">
                      <div class="blue-dot">
                        <span class="dot-number">{{ getUnreadMessageCount(room) }}</span>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
        <div class="col-1 line">
          <span class="vl"></span>
        </div>
        <div class="chat-window col-5">
          <div *ngIf="room" class="chat-card">
            <!-- Chat content -->
            <div class="messages card" #messagesContainer>
              <div *ngFor="let message of messages[room]" [ngClass]="['message', getMessageClasses(message)]">
                {{ message.message }}
              </div>
            </div>
            <div class="chat-input-container">
              <input class="chat-input" #messageInput type="text" [(ngModel)]="message" (keyup.enter)="sendMessage(message)" />
              <button class="customButton chat-send-button" (click)="sendMessage(message)">Senden</button>
            </div>
          </div>
          <div *ngIf="!room" class="select-chat-message">
            <p>Wähle einen Chat aus, um zu schreiben!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
