<div class="chat-container">
  <div class="chat-list">
    <h3>Chats</h3>
    <div *ngIf="rooms.length === 0; else chatList">
      <p>Bisher hast Du keine Chats!</p>
    </div>
    <ng-template #chatList>
      <ul>
        <li *ngFor="let room of rooms" (click)="selectRoom(room)">
          {{ room }}
        </li>
      </ul>
    </ng-template>
  </div>
  <div class="chat-window">
    <h3>Chat Window</h3>
    <div *ngIf="room">
      <h4>Room: {{ room }}</h4>
      <div class="messages">
        <p *ngFor="let message of messages[room]">
          {{ message }}
        </p>
      </div>
      <input type="text" #messageInput placeholder="Type a message" (keyup.enter)="sendMessage(messageInput.value); messageInput.value=''" />
      <button (click)="sendMessage(messageInput.value); messageInput.value=''">
        Senden
      </button>
    </div>
    <div *ngIf="!room">
      <p>Wähle einen Chat aus, um zu schreiben!</p>
    </div>
  </div>
</div>
