<div class="container">
  <div class="flex-row text-center m-4">
    <h3 class="greenText">{{ topText }}</h3>
  </div>

  <div class="row searchBanner m-4">
    <div class="col-lg-2 col-12 m-2">
      <div class="vertical-center">
      </div>
    </div>
    <div class="col-lg-2 col-5 m-2">
      <div class="">
        <input type="text" class="form-control inputBanner" id="locationSearch" placeholder="Startort">
      </div>
    </div>
    <div class="col-lg-2 col-5 m-2">
      <div class="">
        <input type="text" class="form-control inputBanner" id="destinationSearch" placeholder="Zielort">
      </div>
    </div>
    <div class="col-lg-2 col-5 m-2">
      <div class="col-12">
        <input name="dateInput"
               class="form-control rounded-5 p-2 col-12" placeholder="Datum" id="dateInput"
               ngbDatepicker #d="ngbDatepicker" type="date">
      </div>
    </div>
    <div class="col-lg-2 col-5 m-2">
      <button type="button" class="btn btn-primary blueButton">Suchen</button>
    </div>
  </div>
  <div class="row m-2 horizontal-center">
    <div class="col-lg-1 col-4 m-2">
      <div> Maße: </div>
    </div>
    <div class="col-lg-1 col-4 m-2">
      <input type="text" class="form-control inputLowBanner " id="heightSearch" placeholder="Höhe (cm)">
    </div>
    <div class="col-lg-1 col-4 m-2">
      <input type="text" class="form-control inputLowBanner " id="widthSearch" placeholder="Breite (cm)">
    </div>
    <div class="col-lg-1 col-4 m-2">
      <input type="text" class="form-control inputLowBanner " id="lengthSearch" placeholder="Länge (cm)">
    </div>
    <div class="col-lg-2 col-4 m-2 align-content-end">
      <input type="text" class="form-control inputLowBanner" id="weightSearch" placeholder="Gewicht (kg)">
    </div>
    <div class="col-lg-2 col-4 m-2">
      <input type="text" class="form-control inputLowBanner" id="seatsSearch" placeholder="{{placeholderInput}}">

    </div>
    <div class="col-lg-2 col-4 m-2">
      <select class="form-control inputLowBanner" id="ratingSearch">
        <option value="">Bewertung</option>
        <option value="5">5 Sterne</option>
        <option value="4">4 Sterne</option>
        <option value="3">3 Sterne</option>
        <option value="2">2 Sterne</option>
        <option value="1">1 Stern</option>
      </select>
    </div>
  </div>
  <div class="row m-2">
    <div class="col-lg-2 col-4 m-2 d-flex justify-content-start">
      <select id="sort">
        <option value="date_desc">Sortieren nach: Datum (neueste zuerst)</option>
        <option value="date_asc">Sortieren nach: Datum (älteste zuerst)</option>
        <option value="rating_desc">Sortieren nach: Bewertung (höchste zuerst)</option>
        <option value="rating_asc">Sortieren nach: Bewertung (niedrigste zuerst)</option>
        <option value="price_desc">Sortieren nach: Preis (höchster zuerst)</option>
        <option value="price_asc">Sortieren nach: Preis (niedrigster zuerst)</option>
      </select>
    </div>
  </div>
</div>
