<div class="container">
  <div class="row m-5">
    <div class="col-lg-3 horizontal-center  mb-2 mt-2">
      <a href="myOffer" class="link p-3 m-3" [ngClass]="{'currentLink': currentRoute === 'myOffer'}">Deine Angebote</a>
    </div>
    <div class="col-lg-3 horizontal-center mb-2 mt-2">
      <a href="myRequest" class="link p-3" [ngClass]="{'currentLink': currentRoute === 'myRequest'}">Deine Gesuche</a>
    </div>
    <div class="col-lg-3 horizontal-center  mb-2 mt-2">
      <a href="myLastRides" class="link p-3 m-3" [ngClass]="{'currentLink': currentRoute === 'myLastRides'}">Letzten Fahrten</a>
    </div>
    <div class="col-lg-3 horizontal-center  mb-2 mt-2">
      <a href="allTrips" class="link p-3 m-3" [ngClass]="{'currentLink': currentRoute === 'allTrips'}">Deine Trips</a>
    </div>
  </div>
</div>
