<div *ngIf="isLoggedIn" class="container mt-3 mb-3 text-start">
  <ng-template #carModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-car-title">Auto anpassen</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')" aria-labelledby="modal-car-title"></button>
    </div>
    <div class="modal-body">
      <form>
        <div class="mb-3">
          <div class="input-group">
            <input [(ngModel)]="editCarWeight" [ngModelOptions]="{standalone: true}" name="carWeight" required
                   type="number" class="rounded-5 p-2 mb-2 col-12" placeholder="max. Gewicht in kg (Bsp. 535,50)" id="carWeight">
            <input [(ngModel)]="editCarLength" [ngModelOptions]="{standalone: true}" name="carLength" required
                   type="number" class="rounded-5 p-2 mb-2 col-12" placeholder="Länge in cm (Bsp. 320)" id="carLength">
            <input [(ngModel)]="editCarWidth" [ngModelOptions]="{standalone: true}" name="carWidth" required
                   type="number" class="rounded-5 p-2 mb-2 col-12" placeholder="Breite in cm (Bsp. 130)" id="carWidth">
            <input [(ngModel)]="editCarHeight" [ngModelOptions]="{standalone: true}" name="carHeight" required
                   type="number" class="rounded-5 p-2 mb-2 col-12" placeholder="Höhe in cm (Bsp. 180)" id="carHeight">
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer justify-content-center">
      <button type="button" (click)="changeCarProperties()" class="btn customButton exitButton text-light mt-2">
        <i>
          <fa-icon [icon]="faSave"></fa-icon>
        </i>
        <span class="ms-3">Speichern</span>
      </button>
    </div>
  </ng-template>
  <ng-template #trailerModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-trailer-title">Anhänger anpassen</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')" aria-labelledby="modal-trailer-title"></button>
    </div>
    <div class="modal-body">
      <form>
        <div class="mb-3">
          <div class="input-group">
            <input [(ngModel)]="editTrailerWeight" [ngModelOptions]="{standalone: true}" name="trailerWeight" required
                   type="text" class="rounded-5 p-2 mb-2 col-12" placeholder="max. Gewicht in kg (Bsp. 535,50)" id="trailerWeight">
            <input [(ngModel)]="editTrailerLength" [ngModelOptions]="{standalone: true}" name="trailerLength" required
                   type="text" class="rounded-5 p-2 mb-2 col-12" placeholder="Länge in cm (Bsp. 320)" id="trailerLength">
            <input [(ngModel)]="editTrailerWidth" [ngModelOptions]="{standalone: true}" name="trailerWidth" required
                   type="text" class="rounded-5 p-2 mb-2 col-12" placeholder="Breite in cm (Bsp. 130)" id="trailerWidth">
            <input [(ngModel)]="editTrailerHeight" [ngModelOptions]="{standalone: true}" name="trailerHeight" required
                   type="text" class="rounded-5 p-2 mb-2 col-12" placeholder="Höhe in cm (Bsp. 80)" id="trailerHeight">
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer justify-content-center">
      <button (click)="changeTrailerProperties()" type="button" class="btn customButton exitButton text-light mt-2">
        <i>
          <fa-icon [icon]="faSave"></fa-icon>
        </i>
        <span class="ms-3">Speichern</span>
      </button>
    </div>
  </ng-template>
  <ng-template #stopModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-stop-title">Zwischenstopp  {{ editModeText }}</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"  aria-labelledby="modal-stop-title"></button>
    </div>
    <div class="modal-body">
      <form>
        <div class="mb-3">
            <input [(ngModel)]="stopLand" [ngModelOptions]="{standalone: true}" name="stopLandInput" required
                   type="text" class="rounded-5 p-2 w-100" placeholder="Land" id="stopLandInput">
            <div class="row mt-2 justify-content-between">
              <div class="col-4">
                <input [(ngModel)]="stopPLZ" [ngModelOptions]="{standalone: true}" name="stopPLZInput" required
                       type="text" class="rounded-5 p-2 w-100" placeholder="PLZ" id="stopPLZInput">
              </div>
              <div class="col-8">
                <input [(ngModel)]="stopPlace" [ngModelOptions]="{standalone: true}" name="stopPlaceInput" required
                       type="text" class="rounded-5 p-2 w-100" placeholder="Ort" id="stopPlaceInput">
              </div>
            </div>
        </div>
      </form>
    </div>
    <div class="modal-footer justify-content-center">
      <button (click)="addStopToArray()" type="button" class="btn customButton exitButton text-light mt-2">
        <i>
          <fa-icon [icon]="faSave"></fa-icon>
        </i>
        <span class="ms-3">Speichern</span>
      </button>
    </div>
  </ng-template>
  <form #form="ngForm" (ngSubmit)="validInputs() && createSummaryOffer()">
    <div class="row">
      <div class="p-5" id="addOfferArea">
        <div class="row mb-5 justify-content-between">
          <div class="col-xl-3 col-12" *ngIf="editingOffer == 0">
            <h2 class="textGreen mt-5">Verfügbare Sitze:</h2>
            <div class="row mt-4">
              <div class="hstack justify-content-between">
                <button (click)="changeSeatCount(1)" [ngClass]="offerService.seats === 1 ? 'selectedButton' : 'deselectedButton'"
                        type="button" class="btn rounded-3 py-1 px-3 text-light">
                  <h2>1</h2>
                </button>
                <button (click)="changeSeatCount(2)" [ngClass]="offerService.seats === 2 ? 'selectedButton' : 'deselectedButton'"
                        type="button" class="btn rounded-3 py-1 px-3 text-light">
                  <h2>2</h2>
                </button>
                <button (click)="changeSeatCount(3)" [ngClass]="offerService.seats === 3 ? 'selectedButton' : 'deselectedButton'"
                        type="button" class="btn rounded-3 py-1 px-3 text-light">
                  <h2>3</h2>
                </button>
                <button (click)="changeSeatCount(4)" [ngClass]="offerService.seats === 4 ? 'selectedButton' : 'deselectedButton'"
                        type="button" class="btn rounded-3 py-1 px-3 text-light">
                  <h2>4</h2>
                </button>
              </div>
            </div>
            <div class="mt-3 justify-content-center">
              <input [(ngModel)]="offerService.seats" #seatsInput="ngModel" type="number" name="seatsInput"
                     class="rounded-5 p-2 w-100" placeholder="Andere Anzahl"
                     (input)="changeSeatCount(seatsInput.value)">
            </div>
            <div class="row">
              <div class="col text-center textGreen h3 mt-3">
                <p>oder</p>
              </div>
            </div>

            <button (click)="changeSeatCount(0)" [ngClass]="offerService.seats === 0 ? 'selectedButton' : 'deselectedButton'"
                    type="button" class="btn rounded-3 text-light w-100">
              <h2>Nur Cargo</h2>
            </button>
            <div class="row mt-5">
              <div class="col text-start">
                <h2 class="textGreen">Preisvorschlag:</h2>
              </div>
            </div>
            <div class="hstack justify-content-center">
              <input [(ngModel)]="offerService.price" #requestedPriceInput="ngModel" type="number"
                     name="requestedPriceInput"
                     class="rounded-5 p-2 w-100" placeholder="Andere Anzahl"/>
            </div>
            <div class="col-12 mt-3">
              <div class="btn-group d-flex" role="group">
                <input type="radio" class="btn-check" name="musicOrTalk" id="totalPrice" autocomplete="off"
                       (click)="changePriceType(1)">
                <label class="btn customButton flex-fill checkboxBorder" for="totalPrice"
                       [ngClass]="offerService.priceType === 1 ? 'selectedButton' : 'deselectedButton'">Gesamt</label>

                <input type="radio" class="btn-check" name="musicOrTalk" id="perPersonPrice" autocomplete="off"
                       (click)="changePriceType(2)">
                <label class="btn customButton flex-fill checkboxBorder" for="perPersonPrice"
                       [ngClass]="offerService.priceType === 2 ? 'selectedButton' : 'deselectedButton'">Pro Person</label>

                <input type="radio" class="btn-check" name="musicOrTalk" id="perWeightPrice" autocomplete="off"
                       (click)="changePriceType(3)">
                <label class="btn customButton flex-fill checkboxBorder" for="perWeightPrice"
                       [ngClass]="offerService.priceType === 3 ? 'selectedButton' : 'deselectedButton'">Pro KG</label>
              </div>
            </div>
          </div>

          <hr class="blueLine d-xl-none mt-5">

          <div class="col-xl-4 col-12" *ngIf="editingOffer == 0">
            <h2 class="textGreen col-5 mb-3 mt-5">Infos:</h2>

            <div class="col-12">
              <input [(ngModel)]="offerService.name" [ngModelOptions]="{standalone: true}" name="nameInput" required type="text"
                     class="form-control rounded-5 p-2 col-12" placeholder="Name des Trips" id="nameInput">
            </div>
            <div class="row mt-3">
              <div class="col-5">
                <div class="dropdown w-100">
                  <a class="btn customButton dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                     aria-expanded="false">
                    {{ offerService.selectedCar ? offerService.selectedCar.name : 'Auto auswählen' }}
                  </a>

                  <ul class="dropdown-menu">
                    @for (car of offerService.cars; track car.id; let i = $index) {
                      <li><a class="dropdown-item" (click)="selectCar(i)">{{ car.name }}</a></li>
                    }
                  </ul>
                </div>
              </div>

              <div class="col-7 text-end">
                <button (click)="openCarModal(carModal)" type="button"
                        class="btn rounded-3 text-light customButton">
                  Auto anpassen
                </button>
              </div>
            </div>

            <div *ngIf="offerService.selectedCar" class="card border-0 mt-3">
              <div class="card-body backgroundGreen my-2">
                <div class="text-light mx-3 pt-2">
                  <h4 class="card-title ms-1 mt-1 text-center">{{ offerService.selectedCar.name }}</h4>
                  <p class="ms-2">Max. Gewicht: {{ offerService.maxCWeight }}kg</p>
                  <div class="row">
                    <div class="col">
                      <p class="ms-2">{{ offerService.maxCLength }}m <br>
                        Lang</p>
                    </div>
                    <div class="col">
                      <p class="mx-1">{{ offerService.maxCWidth }}m <br>
                        Breit </p>
                    </div>
                    <div class="col">
                      <p class="me-2">{{ offerService.maxCHeight }}m <br>
                        Hoch</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-5">
                <div class="dropdown w-100">
                  <a class="btn customButton dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                     aria-expanded="false">
                    <span>{{ !hadTrailerSelection ? 'Anhänger auswählen' :(offerService.selectedTrailer ? offerService.selectedTrailer.name : 'Kein Anhänger') }}
                    </span>

                  </a>

                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" (click)="selectNoTrailer()"> Kein Anhänger </a></li>

                    @for (trailer of offerService.trailers; track trailer.id; let i = $index) {
                      <li><a class="dropdown-item" (click)="selectTrailer(i)">{{ trailer.name }}</a></li>
                    }
                  </ul>
                </div>
              </div>

              <div class="col-7 text-end">
                  <button (click)="openTrailerModal(trailerModal)" type="button"
                        class="btn rounded-3 text-light customButton">
                  Anhänger anpassen
                </button>
              </div>
            </div>

            <div *ngIf="offerService.selectedTrailer" class="card border-0 mt-3">
              <div class="card-body backgroundGreen my-2">
                <div class="text-light mx-3 pt-2">
                  <h4 class="card-title ms-1 mt-1 text-center">{{ offerService.selectedTrailer.name }}</h4>
                  <p class="ms-2">Max. Gewicht: {{ offerService.maxTWeight }}kg</p>
                  <div class="row">
                    <div class="col">
                      <p class="ms-2">{{ offerService.maxTLength }}m <br>
                        Lang</p>
                    </div>
                    <div class="col">
                      <p class="mx-1">{{ offerService.maxTWidth }}m <br>
                        Breit </p>
                    </div>
                    <div class="col">
                      <p class="me-2">{{ offerService.maxTHeight }}m <br>
                        Hoch</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 mt-3">
              <p>Mitfahrer darf folgende Eigenschaften haben:</p>
              <div class="hstack justify-content-between">
                <div class="col-5 checkboxBorder rounded-pill p-3">
                  <div class="form-check">
                    <label class="form-check-label" for="checkSmoker">
                      Raucher <br>
                      ‎
                    </label>
                    <input [(ngModel)]="offerService.smokingAllowed"
                           class="form-check-input" type="checkbox" id="checkSmoker" name="checkSmoker">
                  </div>
                </div>
                <div class="col-5 checkboxBorder rounded-pill p-3">
                  <div class="form-check">
                    <label class="form-check-label" for="checkPets">
                      Haustier- <br>
                      besitzer*in <br>
                    </label>
                    <input [(ngModel)]="offerService.animalsAllowed"
                           class="form-check-input" type="checkbox" id="checkPets" name="checkPets">
                  </div>
                </div>
              </div>
            </div>

            <p class="mt-3">Kommunikationswunsch:</p>
            <div class="col-12 mt-3">
              <div class="btn-group d-flex" role="group">
                <input type="radio" class="btn-check" name="musicOrTalk" id="onlyMusic" autocomplete="off"
                       (click)="changeTalkMode(1)">
                <label class="btn customButton flex-fill checkboxBorder" for="onlyMusic"
                       [ngClass]="offerService.info === 1 ? 'selectedButton' : 'deselectedButton'">Nur Musik</label>

                <input type="radio" class="btn-check" name="musicOrTalk" id="onlyTalk" autocomplete="off"
                       (click)="changeTalkMode(2)">
                <label class="btn customButton flex-fill checkboxBorder" for="onlyTalk"
                       [ngClass]="offerService.info === 2 ? 'selectedButton' : 'deselectedButton'">Nur Reden</label>

                <input type="radio" class="btn-check" name="musicOrTalk" id="byRequest" autocomplete="off"
                       (click)="changeTalkMode(3)">
                <label class="btn customButton flex-fill checkboxBorder" for="byRequest"
                       [ngClass]="offerService.info === 3 ? 'selectedButton' : 'deselectedButton'">Nach Wunsch</label>
              </div>
            </div>
          </div>

          <hr class="blueLine d-xl-none mt-5">

          <div class="col-xl-3 col-12" *ngIf="editingOffer == 0">
            <h2 class="textGreen col-12 mb-3 mt-5">Zeit & Ort</h2>
            <div class="col-12">
              <input [(ngModel)]="this.offerService.date" [ngModelOptions]="{standalone: true}" name="dateInput" required
                     class="form-control rounded-5 p-2 col-12" placeholder="Datum der Fahrt" id="dateInput"
                     ngbDatepicker #d="ngbDatepicker" type="date">
            </div>
            <div class="col-12 mt-2">
              <input [(ngModel)]="this.offerService.time" [ngModelOptions]="{standalone: true}" name="timeInput" required
                     pattern="^(2[0-3]|[01]?[0-9]):([0-5]?[0-9])$"
                     type="text" class="rounded-5 p-2 col-12" placeholder="Uhrzeit (10:30)" id="timeInput">
            </div>

            <h2 class="textGreen col-12 mt-5">Startpunkt</h2>
            <div class="col-12">
              <input [(ngModel)]="this.offerService.startLocation.country" [ngModelOptions]="{standalone: true}" #startLandInput="ngModel"
                     name="startLandInput" required  type="text" class="rounded-5 p-2 col-12" placeholder="Land" id="startLandInput">
            </div>
            <div class="hstack justify-content-between">
              <div class="col-4 mt-2">
                <input [(ngModel)]="this.offerService.startLocation.zipCode" [ngModelOptions]="{standalone: true}" #startPLZInput="ngModel"
                       name="startPLZInput" required  type="text" class="rounded-5 p-2 col-12" placeholder="PLZ" id="startPLZInput">
              </div>
              <div class="col-7 mt-2">
                <input [(ngModel)]="this.offerService.startLocation.city" [ngModelOptions]="{standalone: true}" #startPlaceInput="ngModel"
                       name="startPlaceInput" required type="text" class="rounded-5 p-2 col-12" placeholder="Ort" id="startPlaceInput">
              </div>
            </div>

            <div class="hstack mt-5 col-12">
                <h2 class="textGreen">Zwischenstopp</h2>
                <a (click)="addLocationStopClicked(stopModal)" class="non-pointable fa-stack fa-2x mt-2 text.">
                  <fa-icon [icon]="faCircle"
                           class="fa-stack-2x text-center white-fade fa-2xs pe-1 pt-3 ms-3 add-fix"></fa-icon>
                  <fa-icon [icon]="faCirclePlus" class="fa-stack-1x btn-blue ms-3 pointable add-fix"></fa-icon>
                </a>
            </div>
            <div *ngFor="let stop of stopsDataArray; let i = index" class="mt-2">
              <div class="hstack justify-content-between">
                <h3 class="textGreen">{{ i + 1 }}. Stopp</h3>
                <div class="hstack mb-2 text-end">
                  <div class="text-end">
                    <button (click)="editLocationClicked(stopModal, i)" type="button" class="btn btn-primary editButton text-end me-1"
                            id="editButton">
                      <i>
                        <fa-icon [icon]="faPenToSquare"></fa-icon>
                      </i>
                    </button>
                  </div>
                  <div class="text-end">
                    <button (click)="deleteStop(i)" type="button" class="btn btn-danger deleteButton text-end" id="deleteButton">
                      <i>
                        <fa-icon [icon]="faX"></fa-icon>
                      </i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="card mb-3">
                <div class="card-body">
                  <p class="card-text">
                    {{ stop.country }} <br>
                    {{ stop.zipCode }} {{ stop.city }}
                  </p>
                </div>
              </div>
            </div>

            <h2 class="textGreen col-12 mt-5">Zielort</h2>
            <div class="col-12">
              <input [(ngModel)]="this.offerService.endLocation.country" [ngModelOptions]="{standalone: true}" #endLandInput="ngModel"
                     name="endLandInput" required  type="text" class="rounded-5 p-2 col-12" placeholder="Land" id="endLandInput">
            </div>
            <div class="hstack justify-content-between">
              <div class="col-4 mt-2">
                <input [(ngModel)]="this.offerService.endLocation.zipCode" [ngModelOptions]="{standalone: true}" #endPLZInput="ngModel"
                       name="endPLZInput" required type="text" class="rounded-5 p-2 col-12" placeholder="PLZ" id="endPLZInput">
              </div>
              <div class="col-7 mt-2">
                <input [(ngModel)]="this.offerService.endLocation.city" [ngModelOptions]="{standalone: true}" #endPlaceInput="ngModel"
                       name="endPlaceInput" required type="text" class="rounded-5 p-2 col-12" placeholder="Ort" id="endPlaceInput">
              </div>
            </div>
          </div>
        </div>
        <div class="row d-flex justify-content-center align-bottom text-center">
          <div class="col-12">
            <span class="text-danger">{{ errorMessage }}</span>
          </div>
        </div>
      </div>
      <div class="col-12 align-bottom d-flex justify-content-around align-items-center" *ngIf="editingOffer == 0">
        <button type="submit" class="btn customButton exitButton text-light">
            <span class="px-3">Weiter <fa-icon [icon]="faArrowRight"></fa-icon></span>
        </button>
      </div>
    </div>
  </form>
</div>
