.greenButton {
  background-color: #005B52;
  color: white;
  border-radius: 15px;
  border-color: #005B52 ;

}
.blueButton {
  background-color: #1A9CC5;
  color: white;
  border-radius: 15px;
  border-color: #1A9CC5 ;
}
.greenText {
  color: #005B52;
}

.blueText {
  color: #1A9CC5;
}
.inputField{
  border-radius: 15px;

}


.rounded-img {
  border-radius: 50%;
  overflow: hidden;
  width: 130px;
  height: 100px;
  object-fit: cover; /* Wichtig: Beschnitten, um das Seitenverhältnis zu erhalten */
  object-position: center center; /* Optional: Zentriert das Bild im Container */
}
.greenBackground{
  background-color: #005B52;
  border-radius: 15px;

}
.horizontal-center {
  display: flex;
  justify-content: center;
}
.transform{
    transform: translateY(30px); /* Verschiebt das Element 50px nach unten */
}
