<div class="container">
  <div class="row mt-5 mb-3">
    <div class="col-12 col-lg-2">
      <a href="">
        <button type="button" class="btn btn-primary greenButton"><- Alle Angebote</button>
      </a>
    </div>
    <div class="col-12 col-lg-8 ">
      <div class="row text-center">
        <h2 class="greenText">{{ offer?.name || request?.name || "loading" }}</h2>
      </div>
      <div class="row">
        <div class="col-6 text-start">
          <span>Datum: {{ (offer?.date || request?.date || "loading") | dateFormat  }}</span>
        </div>
        <div class="col-6 text-end">
          <span class="blueText">{{ offer?.price || request?.price || "loading" }}€</span> <span class="blueText">{{ offer?.priceType  || "" }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-2">
      <div class="row">
        <img [ngSrc]="window.location.protocol + '//' + window.location.host.replace('4200', '8000') + '/user/image/'+ (offer?.user?.profilePic || request?.user?.profilePic)"  width="150px" height="150px" class="card-img-top img-fluid profileCircle my-4" alt="">
      </div>
      <div class="row">
        <span>{{ offer?.user?.firstName || request?.user?.firstName || "loading" }} {{ offer?.user?.lastName || request?.user?.lastName || "loading" }}</span>
      </div>
      <div class="row">
        <div class="col-12">
          <ng-container *ngFor="let star of stars; let i = index">
            <img [src]="i < rating ? starFillSrc : starEmptySrc" alt="star{{i + 1}}"
                 class="blueText">
          </ng-container>
        </div>
      </div>
    </div>
@if(showTripsRead) { <app-trips-read class="col-8" [offer]="offer" [request]="request" (createTripRequest)="handleCreateTripRequest()"> </app-trips-read>}
    @else if(showTripsCreate){<app-trips-create class="col-8">  </app-trips-create>}

    <div class="col-12 col-lg-2 justify-content-center">
      <div class="row">
        <img [ngSrc]="window.location.protocol + '//' + window.location.host.replace('4200', '8000') + '/car/image/'+ (offer?.carPicture || null)"  width="70" height="55" class="card-img-top img-fluid backgroundGreen profileCircle my-4" alt="">
      </div>
    </div>
  </div>
</div>

