<div class="container">
  <div class="row mt-5 mb-3">
    <div class="col-12 col-lg-2">
      <a href="">
        <button type="button" class="btn btn-primary greenButton"><- Alle Angebote</button>
      </a>
      <div class="col-12 mt-3">
        <div class="row">
          <img src="../../../assets/Cybertruck-fremont-cropped.jpg" class="circle" alt="" height="150px" width="150px">
        </div>
        <div class="row">
          <span>firstname lastname</span>
        </div>
        <div class="row">
          <div class="col-12">
            <ng-container *ngFor="let star of stars; let i = index">
              <img [src]="i < bewertungsDummy ? starFillSrc : starEmptySrc" alt="star{{i + 1}}"
                   class="blueText">
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-8 ">
      <div class="row text-center">
        <h2 class="greenText">Entspannte Fahrt mit meinem Tesla</h2>
      </div>
      <div class="row">
        <div class="col-2"></div>
        <div class="col-4 text-start">
          <span>Datum: 06.09.4020</span>
        </div>
        <div class="col-4 text-end">
          <span class="priceText">69€ pro Person</span>
        </div>
        <div class="col-2"></div>
        <div class="col-2"></div>
        <div class="col-3 text-start">
          <span>von Startpunkt: Ort</span>
        </div>
        <div class="col-2">
          <span>nach Ziel: Ort</span>
        </div>
        <div class="col-5"></div>
        <div class="col-2"></div>
        <div class="col-3 mt-3">
          <span>Zwischenziele: A, B, C</span>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-2 justify-content-center">
      <div class="row">
        <img src="../../../assets/Cybertruck-fremont-cropped.jpg" class="img-fluid roundedABit backgroundGreen profileCircle" alt="">
      </div>
    </div>
  </div>


    <app-trips-read *ngIf="showTripsRead" class="col-8"></app-trips-read>
    <app-trips-create *ngIf="showTripsCreate" class="col-8"></app-trips-create>


  </div>
