<div class="container mt-3 mb-3">
  <div class="text-end col-12">
    <button type="button" class="btn btn-primary backgroundBlue circle text-end">X</button>
  </div>
  <div class="row">
    <div class="border border-2 rounded-3 pt-2 ps-4 pb-2 pe-4">
      <h1 class="textGreen">Deine Cars (vroom)</h1>
      <div class="row">
        <div class="col-4">
          <div class="card border border-0 text-center" style="width: 18rem;">
            <img src="../../../assets/Cybertruck-fremont-cropped.jpg" class="card-img-top backgroundGreen" alt="">
            <div class="card-body backgroundGreen rounded-bottom-3">
              <div class="text-light">
                <h5 class="card-title">Tesla Cybertruck</h5>
                <p class="m-0">5 Sitze</p>
                <p class="m-0">3m Breit</p>
                <p class="m-0">5m Lang</p>
                <p class="m-0">7m Hoch</p>
                <p class="m-0">1t Schwer</p>
              </div>
              <button type="button" class="btn bg-transparent text-light editCar"><h5>Bearbeiten</h5></button>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card border border-0" style="width: 18rem;">
            <img src="../../../assets/Cybertruck-fremont-cropped.jpg" class="card-img-top backgroundGreen" alt="">
            <div class="card-body backgroundGreen rounded-bottom-3">
              <div class="text-light">
                <h5 class="card-title">Tesla Cybertruck</h5>
                <p class="m-0">5 Sitze</p>
                <p class="m-0">3m Breit</p>
                <p class="m-0">5m Lang</p>
                <p class="m-0">7m Hoch</p>
                <p class="m-0">1t Schwer</p>
              </div>
              <button type="button" class="btn bg-transparent text-light editCar"><h5>Bearbeiten</h5></button>
            </div>
          </div>
        </div>
        <div class="col-4 my-auto">
          <button type="button" class="btn backgroundBlue circle p-5">➕</button>
        </div>
      </div>
      <div class="col-12">
        <button type="button" class="btn backgroundBlue text-light rounded-4 mt-3">💾 Speichern</button>
      </div>
    </div>
  </div>
</div>
