.backgroundGreen {
  background-color: #005B52;
}

.textGreen {
  color: #005B52;
}

.backgroundBlue {
  background-color: #1A9CC5;
}

.circle {
  border-radius: 50%;
}

.editCar:hover {
  text-decoration: underline;
  color: #ffffff;
}

.card {
  margin: 0 auto;
  float: none;
}
