<div class="container mt-3 mb-3">
  <div class="row">
    <div class="border border-2 rounded-3 pt-2 ps-4 pb-2 pe-4">
      <div class="row">
        <div class="col-4">
          <h1 class="textGreen col-7">Sitze:</h1>
          <div class="row">
            <div class="col-2"></div>
            <div class="col-4">
              <button type="button" class="btn buttonColor rounded-3 pt-4 pb-4 ps-5 pe-5 text-light"><h1>1</h1></button>
            </div>
            <div class="col-4">
              <button type="button" class="btn buttonColor rounded-3 pt-4 pb-4 ps-5 pe-5 text-light"><h1>1</h1></button>
            </div>
            <div class="col-2"></div>
          </div>
          <div class="row mt-4">
            <div class="col-2"></div>
            <div class="col-4">
              <button type="button" class="btn buttonColor rounded-3 pt-4 pb-4 ps-5 pe-5 text-light"><h1>1</h1></button>
            </div>
            <div class="col-4">
              <button type="button" class="btn buttonColor rounded-3 pt-4 pb-4 ps-5 pe-5 text-light"><h1>1</h1></button>
            </div>
            <div class="col-2"></div>
          </div>
        </div>
        <div class="col-4">
          <h1 class="textGreen col-5">Infos:</h1>

          <div class="col-12">
            <input type="text" class="rounded-5 p-2 col-12" placeholder="Model" id="carModel">
          </div>
          <div class="col-12 mt-5">
            <p>Bild des Autos</p>
          </div>
          <div class="col-12">
            <button type="button" class="btn buttonColor text-light rounded-4">Hochladen</button>
          </div>
        </div>
        <div class="col-4">
          <h1 class="textGreen col-5">Maße:</h1>
          <div class="col-12">
            <input type="text" class="rounded-5 p-2 col-12" placeholder="Gewicht" id="carWeight">
          </div>
          <div class="col-12 mt-5">
            <input type="text" class="rounded-5 p-2 col-12" placeholder="Länge" id="carLength">
          </div>
          <div class="col-12 mt-5">
            <input type="text" class="rounded-5 p-2 col-12" placeholder="Breite" id="carWidth">
          </div>
          <div class="col-12 mt-5">
            <input type="text" class="rounded-5 p-2 col-12" placeholder="Höhe" id="carHeight">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
