<div class="container mt-3 mb-3 text-start">
  <div class="text-end col-12">
    <button type="button" class="btn btn-primary cancelButton text-center" id="cancelButton" *ngIf="!uploadCarImgState" (click)="changeAddCarState()">
      <i>
        <fa-icon [icon]="faXmark"></fa-icon>
      </i>
    </button>
  </div>
  <form #form="ngForm" (ngSubmit)="saveCar(form)">
    <div class="row">
      <div class="p-5" id="addCarArea">
        <div class="col-12" *ngIf="uploadCarImgState" id="bigMargin">
          <div class="row justify-content-center text-center">
            <div class="col-12">
              <div>Füge bitte für {{model}} ein Bild Hinzu!</div>
            </div>
          </div>
          <div class="row justify-content-center text-center">
            <div class="col-12">
              <input (change)="onFileChange($event)" type="file" required name="carImgInput" class="customButton"><br>
            </div>
          </div>
        </div>
        <div class="row mb-5" *ngIf="!uploadCarImgState">
          <div class="col-4">
            <h1 class="textGreen col-7">Sitze:</h1>
            <div class="row">
              <div class="col-2"></div>
              <div class="col-4">
                <button (click)="changeSeatCount(2)" [ngClass]="seats === 2 ? 'selectedSeats' : 'deselectedSeats'" type="button" class="btn rounded-3 pt-4 pb-4 ps-5 pe-5 text-light"><h1>2</h1>
                </button>
              </div>
              <div class="col-1"></div>
              <div class="col-4">
                <button (click)="changeSeatCount(3)" [ngClass]="seats === 3 ? 'selectedSeats' : 'deselectedSeats'" type="button" class="btn rounded-3 pt-4 pb-4 ps-5 pe-5 text-light"><h1>3</h1>
                </button>
              </div>
              <div class="col-1"></div>
            </div>
            <div class="row mt-4">
              <div class="col-2"></div>
              <div class="col-4">
                <button (click)="changeSeatCount(4)" [ngClass]="seats === 4 ? 'selectedSeats' : 'deselectedSeats'" type="button" class="btn rounded-3 pt-4 pb-4 ps-5 pe-5 text-light"><h1>4</h1>
                </button>
              </div>
              <div class="col-1"></div>
              <div class="col-4">
                <button (click)="changeSeatCount(5)" [ngClass]="seats === 5 ? 'selectedSeats' : 'deselectedSeats'" type="button" class="btn rounded-3 pt-4 pb-4 ps-5 pe-5 text-light"><h1>5</h1>
                </button>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-2 me-2"></div>
              <input [(ngModel)]="seats" #seatsInput="ngModel" type="number" name="seatsInput" class="rounded-5 p-2 col-9" placeholder="Andere Anzahl" (input)="changeSeatCount(seatsInput.value)">
            </div>
            <div class="col-12 mt-5 align-bottom d-flex justify-content-around align-items-center" *ngIf="enableDeletion">
              <button type="button" class="btn customButton deleteButton text-light" (click)="deleteCar(editingCar)">
                <i>
                  <fa-icon [icon]="faDeleteLeft"></fa-icon>
                </i>
                <span class="ms-3">Auto Löschen</span>
              </button>
            </div>
          </div>

          <div class="col-4">
            <h1 class="textGreen col-5">Infos:</h1>

            <div class="col-12 d-flex">
              <input [(ngModel)]="model" [ngModelOptions]="{standalone: true}" name="modelInput" required type="text" class="rounded-5 p-2 col-12" placeholder="Modell" id="carModel">
            </div>
            <div class="col-12 mt-5 d-flex justify-content-center" *ngIf="editingCar != 0">
              <p>Bild des Autos</p>
            </div>
            <div class="col-12 flex-column justify-content-center align-items-center">
              <input (change)="onFileChange($event)" *ngIf="editingCar != 0" class="customButton" type="file" required name="carImgInput"><br>
            </div>
          </div>
          <div class="col-4">
            <h1 class="textGreen col-5">Maße:</h1>
            <div class="col-12">
              <input [(ngModel)]="weight" [ngModelOptions]="{standalone: true}" name="weightInput" required type="number" class="rounded-5 p-2 col-12" placeholder="Gewicht in KG" id="carWeight">
            </div>
            <div class="col-12 mt-5">
              <input [(ngModel)]="length" [ngModelOptions]="{standalone: true}" name="lengthInput" required type="number" class="rounded-5 p-2 col-12" placeholder="Länge in M" id="carLength">
            </div>
            <div class="col-12 mt-5">
              <input [(ngModel)]="width" [ngModelOptions]="{standalone: true}" name="widthInput" required type="number" class="rounded-5 p-2 col-12" placeholder="Breite in M" id="carWidth">
            </div>
            <div class="col-12 mt-5">
              <input [(ngModel)]="height" [ngModelOptions]="{standalone: true}" name="heightInput" required type="number" class="rounded-5 p-2 col-12" placeholder="Höhe in M" id="carHeight">
            </div>
            <div class="col-12 mt-5 form-check text-start flex-row justify-content-start align-items-center">
              <input [(ngModel)]="hasTv" [ngModelOptions]="{standalone: true}" name="hasTvCheckbox" type="checkbox" class="form-check-input me-3" id="flexCheckDefault" style="width: 2rem; height: 2rem">
              <label for="flexCheckDefault" class="form-check-label mt-2">Hat einen Fernseher</label>
            </div>
            <div class="col-12 mt-5 form-check text-start flex-row justify-content-start align-items-center">
              <input [(ngModel)]="hasAc" [ngModelOptions]="{standalone: true}" name="hasAcCheckbox" type="checkbox" class="form-check-input me-3" id="flexCheckedDefault" style="width: 2rem; height: 2rem">
              <label for="flexCheckedDefault" class="form-check-label mt-2">Hat eine Klimaanlage</label>
            </div>
          </div>

        </div>
        <div class="row d-flex justify-content-center align-bottom text-center">
          <div class="col-12">
            <span class="text-danger">{{ errorMessage }}</span>
          </div>
        </div>
      </div>
      <div class="col-12 align-bottom d-flex justify-content-around align-items-center" *ngIf="!uploadCarImgState">
        <button type="submit" class="btn customButton exitButton text-light">
          <i>
            <fa-icon [icon]="faSave"></fa-icon>
          </i>
          <span class="ms-3">Speichern</span>
        </button>
      </div>
    </div>
  </form>
</div>
