<div class="container mt-3 text-center">
  <div class="text-end col-12">
    <button type="button" class="btn btn-primary editButton text-end" id="editButton">
      <i><fa-icon [icon]="faPenToSquare"></fa-icon></i>
    </button>
  </div>
  <div class="row">
    <div class="pt-2 ps-4 pb-2 pe-4" id="description">
      <div class="col-12">
        <div class="row">
          <h3 class="textGreen text-start">Notiz:</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-6 col-4-md col-2-sm text-start">
          <textarea type="text" class="border border-2 rounded-3 col-11 textareaSize mb-3" id="selfNote"></textarea>
          <div class="row mt-4">
            <div class="col-5">
              <button type="button" class="btn border border-2 rounded-3 customButton text-center text-light p-2 ps-5 pe-5" id="cars"><h4>Deine Cars</h4>
              </button>
            </div>
            <div class="col-1"></div>
            <div class="col-5">
              <button type="button" class="btn border border-2 rounded-3 customButton text-center text-light p-2 ps-5 pe-5" id="trailer"><h4>Deine Trailer</h4>
              </button>
            </div>
          </div>
        </div>
        <div class="col-6 col-4-md col-2-sm">
          <div class="row justify-content-center">
            <div class="border border-2 rounded-3 pb-3">
              <i><fa-icon [icon]="faCar"></fa-icon></i>
              <div class="row">
                <div class="col-4">
                  <span id="ridesTaken">1337 Fahrten</span>
                </div>
                <div class="col-4">
                  <span id="ridesOffered">420 angeboten</span>
                </div>
                <div class="col-4">
                  <span id="ridesSearched">666 gesucht</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-5 border border-2 rounded-3 mt-4">
              <i><fa-icon [icon]="faLanguage"></fa-icon></i>
              <p class="m-0" id="languages">Deutsch, Englisch, Französisch</p>
            </div>
            <div class="col-2"></div>
            <div class="col-5 border border-2 rounded-3 mt-4">
              <i><fa-icon [icon]="faCompass"></fa-icon></i>
              <p class="m-0" id="distance">200-300km</p>
            </div>
          </div>
          <div class="row">
            <div class="col-5 border border-2 rounded-3 mt-4">
              <i><fa-icon [icon]="faUsers"></fa-icon></i>
              <p class="m-0" id="passengerCount">69 Mitfahrer</p>
            </div>
            <div class="col-2"></div>
            <div class="col-5 border border-2 rounded-3 mt-4">
              <i><fa-icon [icon]="faWeight"></fa-icon></i>
              <p class="m-0" id="weight">3 Tonnen</p>
            </div>
          </div>
          <div class="row">
            <div class="col-5 border border-2 rounded-3 mt-4">
              <i><fa-icon [icon]="faEnvelope"></fa-icon></i>
              <p class="m-0" id="email">ElonMuskAtX.de</p>
            </div>
            <div class="col-2"></div>
            <div class="col-5 border border-2 rounded-3 mt-4">
              <i><fa-icon [icon]="faPhone"></fa-icon></i>
              <p class="m-0" id="phoneNumber">+491337666420</p>
            </div>
          </div>
          <div class="row" hidden>
            <div class="col-5 my-4">
              <p>Profilbild ändern</p>
              <span class="d-flex justify-content-around text-start">
                <button class="btn customButton" type="button">Hochladen</button>
                <button class="btn customButton" type="button" id="deleteBtn">Löschen</button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
