<div class="container mt-3 text-center">
  <div class="text-end col-12">
    <button type="button" class="btn btn-primary circle editButton text-end">🖊️</button>
  </div>
  <div class="row">
    <div class="border border-2 rounded-3 pt-2 ps-4 pb-2 pe-4">
      <div class="col-12">
        <div class="row">
          <h3 class="textGreen text-start">Notiz:</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-6 text-start">
          <textarea type="text" class="border border-2 rounded-3 col-11 textareaSize mb-3" id="selfNote"></textarea>
          <div class="row">
            <div class="col-5">
              <button type="button" class="btn border border-2 rounded-3 backgroundGreen text-center text-light p-2 ps-5 pe-5" id="cars"><h4>Deine Cars</h4>
              </button>
            </div>
            <div class="col-1"></div>
            <div class="col-5">
              <button type="button" class="btn border border-2 rounded-3 backgroundGreen text-center text-light p-2 ps-5 pe-5" id="trailer"><h4>Deine Trailer</h4>
              </button>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="border border-2 rounded-3 p-2 pb-4">
              <p class="text-center m-0">🚘</p>
              <div class="row">
                <div class="col-4">
                  <span id="ridesTaken">1337 Fahrten</span>
                </div>
                <div class="col-4">
                  <span id="ridesOffered">420 angeboten</span>
                </div>
                <div class="col-4">
                  <span id="ridesSearched">666 gesucht</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-5 border border-2 rounded-3 p-2 mt-4">
              <p class="m-0">💬</p>
              <p class="m-0" id="languages">Deutsch, Englisch, Französisch</p>
            </div>
            <div class="col-2"></div>
            <div class="col-5 border border-2 rounded-3 p-2 mt-4">
              <p class="m-0">🛣️</p>
              <p class="m-0" id="distance">200-300km</p>
            </div>
          </div>
          <div class="row">
            <div class="col-5 border border-2 rounded-3 p-2 mt-4">
              <p class="m-0">🙍‍♂️</p>
              <p class="m-0" id="passengerCount">69 Mitfahrer</p>
            </div>
            <div class="col-2"></div>
            <div class="col-5 border border-2 rounded-3 p-2 mt-4">
              <p class="m-0">🏋️‍♂️</p>
              <p class="m-0" id="weight">🐘 - 🌍</p>
            </div>
          </div>
          <div class="row">
            <div class="col-5 border border-2 rounded-3 p-2 mt-4">
              <p class="m-0">📧</p>
              <p class="m-0" id="email">ElonMuskAtX.de</p>
            </div>
            <div class="col-2"></div>
            <div class="col-5 border border-2 rounded-3 p-2 mt-4">
              <p class="m-0">📱</p>
              <p class="m-0" id="phoneNumber">+491337666420</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
