.greenText {
  color: #005B52;
}

.searchBanner {
  color: white;
  background-color: #005B52;
  border-radius: 15px;
}

.blueButton {
  background-color: #1A9CC5;
  border-radius: 15px;
}

.blueText {
  color: #1A9CC5;
}

.inputBanner {
  border-radius: 20px;
}

.inputBanner::placeholder {
  color: black;
}

.inputLowBanner {
  border-radius: 10px;
  border-color: #005B52;
  color: #005B52;
  height: 30px;
}

.inputLowBanner::placeholder {
  color: #005B52;
  opacity: 50%;
}

.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: large;
}

.horizontal-right {
  display: flex;
  justify-content: end;
}

.horizontal-center {
  display: flex;
  justify-content: center;
}

.greenButton {
  background-color: #005B52;
  color: white;
  border-radius: 15px;
}

.card {
  border: 1px solid #005B52;  /* Hier wird der Rahmen korrekt definiert */
  border-radius: 10px;
  overflow: hidden;  /* Hilft bei runden Ecken */
}

.card:hover {
  box-shadow: 0 0 20px #005B52;
}

.highlightText {
  color: black;
  font-weight: bold;
}
