<div class="container">
  <div class="row m-2 mt-4">
    @if (offerBool) {
      <span>{{ allOffers.length }} passende Angebote gefunden</span>
    } @else if (requestBool) {
      <span>{{ allRequests.length }} passende Suchen gefunden</span>
    }
  </div>

  <div class="container">

    @if (offerBool) {
      <!-- Cards für Offer -->
      @for (element of allOffers; track $index) {
        <div class="row">
          <div class="col-lg-12 col-12">
            <div class="card m-4">
              <div class="row no-gutters flex-column flex-lg-row card-horizontal">
                <div class="col-lg-3">
                  <div class="horizontal-center vertical-center">
                    <div class="sizeRegulator">
                      <img
                        [ngSrc]="window.location.protocol + '//' + window.location.host.replace('4200', '8000') + pathToImageArray[$index]"
                        width="400" height="300" class="img-fluid rounded-start bild " alt="">
                    </div>
                  </div>
                </div>
                <div class="col-lg-9">
                  <div class="card-body">
                    <div class="container-fluid">
                      <div class="row mb-4">
                        <div class="col-12 col-lg-6">
                          <div class="row">
                            <h5 class="card-title greenText">{{ element.name }}</h5>
                          </div>
                          <div class="row">
                            <div class="col-6">
                              <span>{{ element.user.firstName }} {{ element.user.lastName }}</span>
                            </div>
                            <div class="col-6">
                              <ng-container *ngFor="let star of stars; let i = index">
                                <img [src]="i <  element.user.rating  ? starFillSrc : starEmptySrc" alt="star{{i + 1}}"
                                     class="blueText">
                              </ng-container>
                            </div>
                          </div>
                        </div>
                        <div class="col-6 col-lg-3">
                          <h5 class="greenText">{{ element.date | dateFormat }}</h5>
                        </div>
                        <div class="col-6 col-lg-3">
                          <div class="horizontal-right">
                            <h5 class="blueText">{{ element.price }}€
                              @if (element.priceType == 1){}
                              @else if (element.priceType == 2){p. Person}
                              @else if (element.priceType == 3){p. Kilo}
                            </h5>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-12 col-lg-3">
                          <div class="row">
                            <div class="col-6 col-lg-4">
                              <span>von:</span>
                            </div>
                            <div class="col-6 col-lg-8">
                              @for (location of element.locations; track $index) {
                                @if (location.stopNr == 1) {
                                  <span class="highlightText">{{ location.zipCode }} {{ location.city }}</span>
                                }
                              }
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-6 col-lg-4">
                              <span>nach:</span>
                            </div>
                            <div class="col-6 col-lg-8">
                              @for (location of element.locations; track $index) {
                                @if (location.stopNr == 100) {
                                  <span class="highlightText">{{ location.zipCode }} {{ location.city }}</span>
                                }
                              }
                            </div>
                          </div>
                        </div>

                        <div class="col-12 col-lg-6">
                          <div class="row ">
                            <div class="col-6">
                              <span>Gesamtgewicht:</span>
                            </div>
                            <div class="col-6">
                              <span class="highlightText">{{ element.maxCWeight }} kg</span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-6">
                              <span>max Maße:</span>
                            </div>
                            <div class="col-6">
                              <span class="highlightText">{{ element.maxCLength }}cm / {{ element.maxCWidth }}
                                cm / {{ element.maxCHeight }}cm</span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-6">
                              <span>{{ plaetze }}:</span>
                            </div>
                            <div class="col-6">
                              <span class="highlightText">{{ element.seats }}</span>
                            </div>
                          </div>
                        </div>


                        <div class="col-12 col-lg-3">
                          <div class="horizontal-right">
                            <a href="{{href}}/{{element.id}}">
                              <button type="button" class="btn btn-primary greenButton">{{ buttonText }}</button>
                            </a>
                          </div>
                        </div>
                      </div>

                    </div>

                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      }

    } @else if (requestBool) {
      <!-- Cards für Request -->

      @for (element of allRequests; track $index) {
        <div class="row">
          <div class="col-lg-12 col-12">
            <div class="card m-4">
              <div class="row no-gutters flex-column flex-lg-row card-horizontal">
                <div class="col-lg-3">
                  <div class="horizontal-center">
                    <img
                      [ngSrc]="window.location.protocol + '//' + window.location.host.replace('4200', '8000') + pathToImageArray[$index]"
                      width="300" height="200" class="img-fluid rounded-img " alt="">


                  </div>
                </div>
                <div class="col-lg-9">
                  <div class="card-body">
                    <div class="container-fluid">
                      <div class="row mb-4">
                        <div class="col-12 col-lg-6">
                          <div class="row">
                            <h5 class="card-title greenText">{{ element.name }}</h5>
                          </div>
                          <div class="row">
                            <div class="col-6">
                              <span>{{ element.user.firstName }} {{ element.user.lastName }}</span>
                            </div>
                            <div class="col-6">
                              <ng-container *ngFor="let star of stars; let i = index">
                                <img [src]="i <  element.user.rating  ? starFillSrc : starEmptySrc" alt="star{{i + 1}}"
                                     class="blueText">
                              </ng-container>
                            </div>
                          </div>
                        </div>
                        <div class="col-6 col-lg-3">
                          <h5 class="greenText">{{ element.date | dateFormat }}</h5>
                        </div>
                        <div class="col-6 col-lg-3">
                          <div class="horizontal-right">
                            <h5 class="blueText">{{ element.price }}€
                              @if (element.priceType == 1){}
                              @else if (element.priceType == 2){p. Person}
                              @else if (element.priceType == 3){p. Kilo}
                            </h5>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-12 col-lg-3">
                          <div class="row">
                            <div class="col-6 col-lg-4">
                              <span>von:</span>
                            </div>
                            <div class="col-6 col-lg-8">
                              @for (location of element.locations; track $index) {
                                @if (location.stopNr == 1) {
                                  <span class="highlightText">{{ location.zipCode }} {{ location.city }}</span>
                                }
                              }
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-6 col-lg-4">
                              <span>nach:</span>
                            </div>
                            <div class="col-6 col-lg-8">
                              @for (location of element.locations; track $index) {
                                @if (location.stopNr == 100) {
                                  <span class="highlightText">{{ location.zipCode }} {{ location.city }}</span>
                                }
                              }
                            </div>
                          </div>
                        </div>

                        <div class="col-12 col-lg-6">
                          <div class="row ">
                            <div class="col-6">
                              <span>Gesamtgewicht:</span>
                            </div>
                            <div class="col-6">

                              <span class="highlightText">{{ gewichte[$index] }}kg</span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-6">
                              <span>Gesamtmaße:</span>
                            </div>
                            <div class="col-6">
                             <span class="highlightText">{{ masse[($index * 3)] }} cm/ {{ masse[($index * 3) + 1] }}
                               cm / {{ masse[($index * 3) + 2] }} cm</span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-6">
                              <span>{{ plaetze }}:</span>
                            </div>
                            <div class="col-6">
                              <span class="highlightText">{{ element.seats }}</span>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 col-lg-3">
                          <div class="horizontal-right">
                            <a href="{{href}}/{{element.id}}">
                              <button type="button" class="btn btn-primary greenButton">{{ buttonText }}</button>
                            </a>
                          </div>
                        </div>
                      </div>

                    </div>

                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      }
    }

  </div>
</div>
