<div *ngIf="isLoggedIn" class="container mt-3 mb-3 text-start">
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Cargo Hinzufügen</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form>
        <div class="mb-3">
          <div class="input-group">
            <input [(ngModel)]="description" #descriptionInput="ngModel" type="text" name="descriptionInput"
                   class="rounded-5 p-2 w-100 mb-3" placeholder="Name des Cargos"
                   (input)="this.description">
            <input [(ngModel)]="weight" #weightInput="ngModel" type="text" name="weightInput"
                   class="rounded-5 p-2 w-100 mb-3" placeholder="Gewicht in kg (Bsp. 5,50)"
                   (input)="this.weight">
            <input [(ngModel)]="length" #lengthInput="ngModel" type="text" name="lengthInput"
                   class="rounded-5 p-2 w-100 mb-3" placeholder="Länge in m (Bsp. 2,30)"
                   (input)="this.length">
            <input [(ngModel)]="width" #widthInput="ngModel" type="text" name="widthInput"
                   class="rounded-5 p-2 w-100 mb-3" placeholder="Breite in m (Bsp. 1,30)"
                   (input)="this.width">
            <input [(ngModel)]="height" #heightInput="ngModel" type="text" name="heightInput"
                   class="rounded-5 p-2 w-100 mb-3" placeholder="Höhe in m (Bsp. 0,80)"
                   (input)="this.height">
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer justify-content-center">
      <button type="submit" class="btn customButton exitButton text-light mt-2">
        <i>
          <fa-icon [icon]="faSave"></fa-icon>
        </i>
        <span class="ms-3">Speichern</span>
      </button>
    </div>
  </ng-template>
  <form #form="ngForm" (ngSubmit)="createSummaryRequest(form)">
    <div class="row">
      <div class="p-5" id="addOfferArea">
        <div class="row mb-5 justify-content-between">
          <div class="col-xl-3 col-12" *ngIf="editingRequest == 0">
            <h2 class="textGreen col-7 mt-5">Sitze:</h2>
            <div class="row mt-4">
              <div class="hstack justify-content-between">
                <button (click)="changeSeatCount(2)" [ngClass]="seats === 2 ? 'selectedButton' : 'deselectedButton'"
                        type="button" class="btn rounded-3 py-1 px-3 text-light">
                  <h2>2</h2>
                </button>
                <button (click)="changeSeatCount(3)" [ngClass]="seats === 3 ? 'selectedButton' : 'deselectedButton'"
                        type="button" class="btn rounded-3 py-1 px-3 text-light">
                  <h2>3</h2>
                </button>
                <button (click)="changeSeatCount(4)" [ngClass]="seats === 4 ? 'selectedButton' : 'deselectedButton'"
                        type="button" class="btn rounded-3 py-1 px-3 text-light">
                  <h2>4</h2>
                </button>
                <button (click)="changeSeatCount(5)" [ngClass]="seats === 5 ? 'selectedButton' : 'deselectedButton'"
                        type="button" class="btn rounded-3 py-1 px-3 text-light">
                  <h2>5</h2>
                </button>
              </div>
            </div>
            <div class="mt-3 justify-content-center">
              <input [(ngModel)]="seats" #seatsInput="ngModel" type="number" name="seatsInput"
                     class="rounded-5 p-2 w-100" placeholder="Andere Anzahl"
                     (input)="changeSeatCount(seatsInput.value)">
            </div>
            <div class="row">
              <div class="col text-center textGreen h3 mt-3">
                <p>oder</p>
              </div>
            </div>

            <button (click)="changeSeatCount(1)" [ngClass]="seats === 1 ? 'selectedButton' : 'deselectedButton'"
                    type="button" class="btn rounded-3 text-light w-100">
              <h2>Nur Cargo</h2>
            </button>
            <div class="row mt-5">
              <div class="col text-start">
                <h2 class="textGreen">Preisvorschlag:</h2>
              </div>
            </div>
            <div class="hstack justify-content-center">
              <input [(ngModel)]="requestedPrice" #requestedPriceInput="ngModel" type="number"
                     name="requestedPriceInput"
                     class="rounded-5 p-2 w-100" placeholder="Andere Anzahl"
                     (input)="changeRequestedPrice(requestedPriceInput.value)">
            </div>
          </div>

          <hr class="blueLine d-xl-none mt-5">

          <div class="col-xl-4 col-12" *ngIf="editingRequest == 0">
            <h2 class="textGreen col-5 mb-3">Infos:</h2>

            <div class="col-12">
              <input [(ngModel)]="name" [ngModelOptions]="{standalone: true}" name="nameInput" required type="text"
                     class="form-control rounded-5 p-2 col-12" placeholder="Name des Trips" id="nameInput">
            </div>

            <div class="col-12 mt-3">
              <p>Fahrer darf folgende Eigenschaften haben:</p>
              <div class="hstack justify-content-between">
                <div class="col-5 checkboxBorder rounded-pill p-3">
                  <div class="form-check">
                    <label class="form-check-label" for="checkSmoker">
                      Raucher <br>
                      ‎
                    </label>
                    <input class="form-check-input" type="checkbox" value="" id="checkSmoker">
                  </div>
                </div>
                <div class="col-5 checkboxBorder rounded-pill p-3">
                  <div class="form-check">
                    <label class="form-check-label" for="checkPets">
                      Haustier- <br>
                      besitzer*in <br>
                    </label>
                    <input class="form-check-input" type="checkbox" value="" id="checkPets">
                  </div>
                </div>
              </div>
            </div>

            <p class="mt-3">Auf der Fahrt:</p>
            <div class="col-12 mt-3">
              <div class="btn-group d-flex" role="group">
                <input type="radio" class="btn-check" name="musicOrTalk" id="onlyMusic" autocomplete="off"
                       (click)="changeTalkMode(1)">
                <label class="btn customButton flex-fill checkboxBorder" for="onlyMusic"
                       [ngClass]="talkMode === 1 ? 'selectedButton' : 'deselectedButton'">Nur Musik</label>

                <input type="radio" class="btn-check" name="musicOrTalk" id="onlyTalk" autocomplete="off"
                       (click)="changeTalkMode(2)">
                <label class="btn customButton flex-fill checkboxBorder" for="onlyTalk"
                       [ngClass]="talkMode === 2 ? 'selectedButton' : 'deselectedButton'">Nur Reden</label>

                <input type="radio" class="btn-check" name="musicOrTalk" id="byRequest" autocomplete="off"
                       (click)="changeTalkMode(3)">
                <label class="btn customButton flex-fill checkboxBorder" for="byRequest"
                       [ngClass]="talkMode === 3 ? 'selectedButton' : 'deselectedButton'">Nach Wunsch</label>
              </div>
            </div>

            <div class="col-12 mt-5">
              <div class="hstack mt-5 col-12">
                <div class="row justify-content-between">
                  <div class="col-auto">
                    <h2 class="textGreen mt-1">Cargo hinzufügen</h2>
                  </div>
                  <div class="col-auto">
                    <a (click)="openCargoDialog()" class="non-pointable fa-stack fa-2x add-fix">
                      <fa-icon [icon]="faCircle"
                               class="fa-stack-2x text-center white-fade fa-2xs pe-1 pt-3 add-fix"></fa-icon>
                      <fa-icon [icon]="faCirclePlus" class="fa-stack-1x btn-blue pointable add-fix"></fa-icon>
                    </a>
                  </div>
                </div>

              </div>
              <div class="position-relative mb-3">
                <div class="position-absolute top-0 end-0 me-3">
                  <button (click)="openCargoDialog()" type="button" class="btn btn-primary editButton text-end me-1" id="editButton">
                    <i><fa-icon [icon]="faPenToSquare"></fa-icon></i>
                  </button>
                  <button type="button" class="btn btn-danger deleteButton text-end" id="deleteButton">
                    <i>
                      <fa-icon [icon]="faX"></fa-icon>
                    </i>
                  </button>
                </div>
                <div class="card border-0">
                  <div class="card-body">
                    <div class="backgroundGreen">
                      <div class="text-light mx-3 pt-2">
                        <h4 class="card-title ms-1 mt-3 text-center">Omas Klavier</h4>
                        <p class="ms-2">100 kg</p>
                        <div class="row">
                          <div class="col">
                            <p class="ms-2">3,35m Lang</p>
                          </div>
                          <div class="col">
                            <p class="mx-1">2,20m Breit</p>
                          </div>
                          <div class="col">
                            <p class="me-2">1,50m Hoch</p>
                          </div>
                        </div>
                      </div>
                      <button type="button" class="btn bg-transparent text-light editButton ms-2"><h5>Bearbeiten</h5></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <hr class="blueLine d-xl-none mt-5">

          <div class="col-xl-3 col-12" *ngIf="editingRequest == 0">
            <h2 class="textGreen col-12 mb-3 mt-5">Zeit & Ort</h2>
            <div class="col-12">
              <input [(ngModel)]="date" [ngModelOptions]="{standalone: true}" name="dateInput" required
                     class="form-control rounded-5 p-2 col-12" placeholder="Datum der Fahrt" id="dateInput"
                     placeholder="Datum der Fahrt" ngbDatepicker #d="ngbDatepicker" type="text">
            </div>
            <div class="col-12 mt-2">
              <input [(ngModel)]="time" [ngModelOptions]="{standalone: true}" name="timeInput" required
                     type="text" class="rounded-5 p-2 col-12" placeholder="Uhrzeit" id="timeInput">
            </div>

            <h2 class="textGreen col-12 mt-5">Startpunkt</h2>
            <div class="col-12">
              <input [(ngModel)]="startLand" [ngModelOptions]="{standalone: true}" name="startLandInput" required
                     type="text" class="rounded-5 p-2 col-12" placeholder="Land" id="startLandInput">
            </div>
            <div class="hstack justify-content-between">
              <div class="col-4 mt-2">
                <input [(ngModel)]="startPLZ" [ngModelOptions]="{standalone: true}" name="startPLZInput" required
                       type="text" class="rounded-5 p-2 col-12" placeholder="PLZ" id="startPLZInput">
              </div>
              <div class="col-7 mt-2">
                <input [(ngModel)]="startPlace" [ngModelOptions]="{standalone: true}" name="startPlaceInput" required
                       type="text" class="rounded-5 p-2 col-12" placeholder="Ort" id="startPlaceInput">
              </div>
            </div>


            <h2 class="textGreen col-12 mt-5">Zielort</h2>
            <div class="col-12">
              <input [(ngModel)]="endLand" [ngModelOptions]="{standalone: true}" name="endLandInput" required
                     type="text" class="rounded-5 p-2 col-12" placeholder="Land" id="endLandInput">
            </div>
            <div class="hstack justify-content-between">
              <div class="col-4 mt-2">
                <input [(ngModel)]="endPLZ" [ngModelOptions]="{standalone: true}" name="endPLZInput" required
                       type="text" class="rounded-5 p-2 col-12" placeholder="PLZ" id="endPLZInput">
              </div>
              <div class="col-7 mt-2">
                <input [(ngModel)]="endPlace" [ngModelOptions]="{standalone: true}" name="endPlaceInput" required
                       type="text" class="rounded-5 p-2 col-12" placeholder="Ort" id="endPlaceInput">
              </div>
            </div>
          </div>
        </div>
        <div class="row d-flex justify-content-center align-bottom text-center">
          <div class="col-12">
            <span class="text-danger">{{ errorMessage }}</span>
          </div>
        </div>
      </div>
      <div class="col-12 align-bottom d-flex justify-content-around align-items-center" *ngIf="editingRequest == 0">
        <a href="/summary"  class="btn customButton exitButton text-light">
          <span class="px-3">Weiter <fa-icon [icon]="faArrowRight"></fa-icon></span>
        </a>
      </div>
    </div>
  </form>
</div>
