<div class="container d-flex justify-content-center">
  <div class="col-8 field ">
    <div class="row text-center">

      <h3 class="greenText fw-semibold">Aktuelle Fahrten</h3>
    </div>

    <div class="row horizontal-center">
      @for (element of allOffers; track $index) {

        <div class="card custom-card m-1 mt-3">
          <div class="sizeRegulator">
            <img [ngSrc]="window.location.protocol + '//' + window.location.host.replace('4200', '8000') + pathToImageArray[$index]" width="300" height="200" class="img-fluid " alt="">
          </div>
          <div class="card-body">
            <h5 class="card-title">{{element.name}}</h5>
          </div>
          <a href="" class="card-footer">
            Zur Fahrt
          </a>
        </div>

      }


    </div>
  </div>
</div>
