.roadmap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ccc;
  display: inline-block;
}

.line {
  width: 50px;
  height: 2px;
  background-color: #ccc;
  flex-grow: 1;
}

.highlight {
  background-color: #005B52; /* Highlight color for active status */
}
.greenText {
  color: #005B52;
}

.searchBanner {
  color: white;
  background-color: #005B52;
  border-radius: 15px;
}

.blueButton {
  background-color: #1A9CC5;
  border-radius: 15px;
}
.blueButton:hover {
  box-shadow: 0 0 20px #1A9CC5;
}

.blueText {
  color: #1A9CC5;
}

.inputBanner {
  border-radius: 20px;
}

.inputBanner::placeholder {
  color: black;
}

.inputLowBanner {
  border-radius: 10px;
  border-color: #005B52;
  color: #005B52;
  height: 30px;
}

.inputLowBanner::placeholder {
  color: #005B52;
  opacity: 50%;
}

.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: large;
}

.horizontal-right {
  display: flex;
  justify-content: end;
}

.horizontal-center {
  display: flex;
  justify-content: center;
}

.greenButton {
  background-color: #005B52;
  color: white;
  border-radius: 15px;
}
.greenButton:hover {
  box-shadow: 0 0 20px #005B52;
}

.card {
  border: 1px solid #005B52;  /* Hier wird der Rahmen korrekt definiert */
  border-radius: 10px;
  overflow: hidden;  /* Hilft bei runden Ecken */
}

.card:hover {
  box-shadow: 0 0 20px #005B52;
}

.highlightText {
  color: black;
  font-weight: bold;
}
.rounded-img {
  border-radius: 50%;
  overflow: hidden;
  width: 200px;
  height: 200px;
  object-fit: cover; /* Wichtig: Beschnitten, um das Seitenverhältnis zu erhalten */
  object-position: center center; /* Optional: Zentriert das Bild im Container */
}

.sizeRegulator {
  height: 200px;
  width: 100%; /* Optional: Kann je nach Bedarf festgelegt werden */
  overflow: hidden; /* Verhindert das Überschreiten der Bildgrenzen */
  position: relative;
}

.sizeRegulator img {
  position: absolute;
  top: 50%;
  left: 50%;
  height: auto;
  width: 100%; /* Passt das Bild an die Breite des Containers an */
  transform: translate(-50%, -50%);
  object-fit: cover; /* Beschneidet das Bild, um die gewünschte Höhe beizubehalten */
}

.accordion-button {
  background-color: #f8f9fa; /* Default background color */
  border: 1px solid #005B52; /* Optional: add border if needed */
  border-radius: 5px; /* Slightly rounded corners */
  transition: background-color 0.3s ease-in-out; /* Smooth transition */
}

.accordion-button:hover {
  background-color: #e2e6ea; /* Slightly darker on hover */
}



.accordion-button:not(.collapsed)::after {
  color: white; /* Arrow color when expanded */
}

.accordion-item {
  border: none; /* Keep no border on the accordion item */
  margin-bottom: 10px; /* Add some space between items */
}

.accordion-button:focus {
  box-shadow: 0 0 5px #005B52; /* Subtle focus outline */
}
