<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="bootstrap.min.css">
  <link rel="stylesheet" href="profile.component.css">
</head>
<body>
<div class="profile text-center container">
  <div class="row">
    <div class="col-2">
      <img class="profileCircle" src="empty.png" alt="profile">
    </div>
    <div class="col-8 my-auto">
      <div class="row">
        <h1 class="textGreen">Profil von Elon Musk</h1>
      </div>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-2">⭐⭐⭐⭐⭐</div>
        <div class="col-2">
          <input type="text" class="backgroundGreen rounded-3 border-0 text-center" id="userName"
                 placeholder="Elon Musk" size="25"
                 disabled>
        </div>
        <div class="col-1"></div>
        <div class="col-2">
          <input type="text" class="backgroundGreen rounded-3 border-0 text-center" id="birthDate"
                 placeholder="28.06.1971" size="25"
                 disabled>
        </div>
        <div class="col-1"></div>
        <div class="col-2">
          <input type="text" class="backgroundGreen border-0 rounded-3 text-center" id="smoker" placeholder="Raucher"
                 size="25"
                 disabled>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-3">
    <div class="text-end col-12">
      <button type="button" class="btn btn-primary circle editButton text-end">🖊️</button>
    </div>
    <div class="row">

      <div class="border border-2 rounded-3 pt-2 ps-4 pb-2 pe-4">
        <div class="col-12">
          <div class="row">
            <h3 class="textGreen text-start">Notiz:</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-6 text-start">
            <textarea type="text" class="border border-2 rounded-3 col-11 textareaSize mb-3" id="selfNote"></textarea>
            <div class="row">
              <div class="col-5">
                <div class="border border-2 rounded-3 backgroundGreen text-light p-2">
                  <div class="row">
                    <div class="col-6 my-auto">
                      <p class="m-0" id="carType">Tesla Car</p>
                      <p class="m-0" id="seats">4 Sitze</p>
                    </div>
                    <div class="col-6">
                      <p class="m-0" id="carHeight">1m Hoch</p>
                      <p class="m-0" id="carLength">2m Lang</p>
                      <p class="m-0" id="carWidth">0,5m Breit</p>
                      <p class="m-0" id="carWeight">1 Tonne</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-1"></div>
              <div class="col-5">
                <div class="border border-2 rounded-3 backgroundGreen text-light p-2">
                  <div class="row">
                    <div class="col-6 my-auto">
                      <p class="m-0">Teslailer</p>
                    </div>
                    <div class="col-6">
                      <p class="m-0" id="trailerHeight">1m Hoch</p>
                      <p class="m-0" id="trailerLength">2m Lang</p>
                      <p class="m-0" id="trailerWidth">0,5m Breit</p>
                      <p class="m-0" id="trailerWeight">1 Tonne</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="border border-2 rounded-3 p-2 pb-4">
                <p class="text-center m-0">🚘</p>
                <div class="row">
                  <div class="col-4">
                    <span id="ridesTaken">1337 Fahrten</span>
                  </div>
                  <div class="col-4">
                    <span id="ridesOffered">420 angeboten</span>
                  </div>
                  <div class="col-4">
                    <span id="ridesSearched">666 gesucht</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-5 border border-2 rounded-3 p-2 mt-4">
                <p class="m-0">💬</p>
                <p class="m-0" id="languages">Deutsch, Englisch, Französisch</p>
              </div>
              <div class="col-2"></div>
              <div class="col-5 border border-2 rounded-3 p-2 mt-4">
                <p class="m-0">🛣️</p>
                <p class="m-0" id="distance">200-300km</p>
              </div>
            </div>
            <div class="row">
              <div class="col-5 border border-2 rounded-3 p-2 mt-4">
                <p class="m-0">🙍‍♂️</p>
                <p class="m-0" id="passengerCount">69 Mitfahrer</p>
              </div>
              <div class="col-2"></div>
              <div class="col-5 border border-2 rounded-3 p-2 mt-4">
                <p class="m-0">🏋️‍♂️</p>
                <p class="m-0" id="weight">🐘 - 🌍</p>
              </div>
            </div>
            <div class="row">
              <div class="col-5 border border-2 rounded-3 p-2 mt-4">
                <p class="m-0">📧</p>
                <p class="m-0" id="email">ElonMuskAtX.de</p>
              </div>
              <div class="col-2"></div>
              <div class="col-5 border border-2 rounded-3 p-2 mt-4">
                <p class="m-0">📱</p>
                <p class="m-0" id="phoneNumber">+491337666420</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
