<div class="profile text-center container">
  <div class="row">
    <div class="col-2">
      <img class="profileCircle" src="../../assets/empty.png" alt="profile">
    </div>
    <div class="col-8 my-auto">
      <div class="row">
        <h1 class="textGreen">Profil von {{ fullName() }}</h1>
      </div>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-2">
          <span><fa-icon [icon]="faStar" class="starRating"></fa-icon></span>
          <span><fa-icon [icon]="faStar" class="starRating"></fa-icon></span>
          <span><fa-icon [icon]="faStar" class="starRating"></fa-icon></span>
          <span><fa-icon [icon]="faStar" class="starRating"></fa-icon></span>
          <span><fa-icon [icon]="faStar" class="starRating"></fa-icon></span>
        </div>
        <div class="col-2 backgroundGreen text-center flex-row justify-content-center attribute">
          <span>
            <i class="me-3"><fa-icon [icon]="faUser"></fa-icon></i>
            <span>{{ fullName() }}</span>
          </span>
        </div>
        <div class="col-1"></div>
        <div class="col-2 backgroundGreen text-center flex-row justify-content-center attribute">
          <span>
            <i class="me-3"><fa-icon [icon]="faCalender"></fa-icon></i>
            <span>{{ birthday }}</span>
          </span>
        </div>
        <div class="col-1"></div>
        <div class="col-2 backgroundGreen text-center flex-row justify-content-center attribute">
          <span>
            <i class="me-3"><fa-icon [icon]="faSmoking"></fa-icon></i>
            <span>Raucher</span>
          </span>
        </div>
      </div>
    </div>
    <app-user-description></app-user-description>
    <app-add-car></app-add-car>
    <app-add-trailer></app-add-trailer>
    <app-car-overview></app-car-overview>
  </div>
</div>
