.textGreen {
  color: #005B52;
}

h1.textGreen{
  padding-bottom: 1rem;
  border-bottom: #1a9cc5 0.1rem solid;
}

.backgroundGreen {
  background-color: #005B52;
}


.attribute{
  color: ghostwhite;
  padding: 0.3rem 0 0.3rem 0;
  border-radius: 0.75rem;
}

.profileCircle {
  width: 125px;
  height: 125px;
  border-radius: 50%;
}




