<div class="rounded-3" *ngIf="data.template === 'tripCargo'">
  <h1 mat-dialog-title>Cargo Hinzufügen</h1>
  <div mat-dialog-content class="text-center">
    <input [(ngModel)]="cargoDescription" [ngModelOptions]="{standalone: true}" name="cargoDescription" required
           type="text" class="rounded-5 p-2 mb-2 col-12" placeholder="Name des Cargo" id="cargoDescription">
    <input [(ngModel)]="cargoWeight" [ngModelOptions]="{standalone: true}" name="cargoWeight" required
           type="text" class="rounded-5 p-2 mb-2 col-12" placeholder="Gewicht in kg (2,50)" id="cargoWeight">
    <input [(ngModel)]="cargoLength" [ngModelOptions]="{standalone: true}" name="cargoLength" required
           type="text" class="rounded-5 p-2 mb-2 col-12" placeholder="Länge in m (3,20)" id="cargoLength">
    <input [(ngModel)]="cargoWidth" [ngModelOptions]="{standalone: true}" name="cargoWidth" required
           type="text" class="rounded-5 p-2 mb-2 col-12" placeholder="Breite in m (3,55)" id="cargoWidth">
    <input [(ngModel)]="cargoHeight" [ngModelOptions]="{standalone: true}" name="cargoHeight" required
           type="text" class="rounded-5 p-2 mb-2 col-12" placeholder="Höhe in m (2,52)" id="cargoHeight">
  </div>
  <div mat-dialog-actions class="justify-content-end">
    <button mat-button (click)="onClose()">Close</button>
    <button mat-button (click)="onSubmit()">Submit</button>
  </div>
</div>

<div *ngIf="data.template === 'tripCar'">
  <h1 mat-dialog-title>Auto hinzufügen</h1>
  <div mat-dialog-content class="text-center">
    <input [(ngModel)]="carWeight" [ngModelOptions]="{standalone: true}" name="carWeight" required
           type="text" class="rounded-5 p-2 mb-2 col-12" placeholder="Gewicht in kg (2,50)" id="carWeight">
    <input [(ngModel)]="carLength" [ngModelOptions]="{standalone: true}" name="carLength" required
           type="text" class="rounded-5 p-2 mb-2 col-12" placeholder="Länge in m (3,20)" id="carLength">
    <input [(ngModel)]="carWidth" [ngModelOptions]="{standalone: true}" name="carWidth" required
           type="text" class="rounded-5 p-2 mb-2 col-12" placeholder="Breite in m (3,55)" id="carWidth">
    <input [(ngModel)]="carHeight" [ngModelOptions]="{standalone: true}" name="carHeight" required
           type="text" class="rounded-5 p-2 mb-2 col-12" placeholder="Höhe in m (2,55)" id="carHeight">
  </div>
  <div mat-dialog-actions class="justify-content-end">
    <button mat-button (click)="onClose()">Close</button>
    <button mat-button (click)="onSubmit()">Submit</button>
  </div>
</div>



<div *ngIf="data.template === 'tripTrailer'">
  <h1 mat-dialog-title>Anhänger hinzufügen</h1>
  <div mat-dialog-content class="text-center">
    <input [(ngModel)]="trailerWeight" [ngModelOptions]="{standalone: true}" name="trailerWeight" required
           type="text" class="rounded-5 p-2 mb-2 col-12" placeholder="Gewicht in kg (2,50)" id="trailerWeight">
    <input [(ngModel)]="trailerLength" [ngModelOptions]="{standalone: true}" name="trailerLength" required
           type="text" class="rounded-5 p-2 mb-2 col-12" placeholder="Länge in m (3,20)" id="trailerLength">
    <input [(ngModel)]="trailerWidth" [ngModelOptions]="{standalone: true}" name="trailerWidth" required
           type="text" class="rounded-5 p-2 mb-2 col-12" placeholder="Breite in m (3,55)" id="trailerWidth">
    <input [(ngModel)]="trailerHeight" [ngModelOptions]="{standalone: true}" name="trailerHeight" required
           type="text" class="rounded-5 p-2 mb-2 col-12" placeholder="Höhe in m (2,55)" id="trailerHeight">
  </div>
  <div mat-dialog-actions class="justify-content-end">
    <button mat-button (click)="onClose()">Close</button>
    <button mat-button (click)="onSubmit()">Submit</button>
  </div>
</div>

<div *ngIf="data.template === 'tripStop'">
  <h1 mat-dialog-title>Zwischenstopp hinzufügen</h1>
  <div mat-dialog-content>
      <input [(ngModel)]="stopLand" [ngModelOptions]="{standalone: true}" name="endLandInput" required
             type="text" class="rounded-5 p-2 col-12" placeholder="Land" id="endLandInput">
    <div class="hstack justify-content-between">
      <div class="col-4 mt-2">
        <input [(ngModel)]="stopPLZ" [ngModelOptions]="{standalone: true}" name="endPLZInput" required
               type="text" class="rounded-5 p-2 col-12" placeholder="PLZ" id="endPLZInput">
      </div>
      <div class="col-7 mt-2">
        <input [(ngModel)]="stopPlace" [ngModelOptions]="{standalone: true}" name="endPlaceInput" required
               type="text" class="rounded-5 p-2 col-12" placeholder="Ort" id="endPlaceInput">
      </div>
    </div>
  </div>
  <div mat-dialog-actions class="justify-content-end">
    <button mat-button (click)="onClose()">Close</button>
    <button mat-button (click)="onSubmit()">Submit</button>
  </div>
</div>
