/* You can add global styles to this file, and also import other style files */
::selection{
  background-color: #005B52;
  color: ghostwhite;
}

.textGreen {
  color: #005B52;
}

html, body {
  background-color: ghostwhite !important;
  height: 100%;
  margin: 0;
  font-family: Roboto, sans-serif;
}

.customButton{
  background-color: #005B52;
  color: ghostwhite;
  font-weight: bold;
  border-radius: 15px;
  transition: all 0.5s ease;
}

.customButton:hover, .customButton:active, .customButton:focus {
  box-shadow: 0 0 20px #005B52;
  background-color: #005B52;
  color: ghostwhite;
}

.mc-green {
  background-color: #005B52;
}

.btn-blue {
  color: #1a9cc5;
}

/*Font-Awesome*/

.white-fade {
  color: #fff;
  transition: color 0.5s;
}

.white-fade:hover {
  color: #ccc;
}

.add-fix {
  width: 32px !important;
}

.non-pointable {
  cursor: default;
}

.pointable {
  cursor: pointer;
}

.starRating{
  color: #1a9cc5;
}

.backgroundGreen {
  background-color: #005B52;
  border-radius: 2rem;
  transition: all 0.4s ease;
}
.backgroundGreen:hover{
  box-shadow: #005B52 0 0 20px;
}

.editButton:hover {
  text-decoration: underline;
  color: #ffffff;
}

.editButton, .deleteButton{
  position: relative;
  z-index: 2;
  font-size: 1rem;
  border-radius: 5rem;
  border-color: transparent;
  transition: all 0.3s ease;
}

.editButton:hover {
  box-shadow: #1a9cc5 0 0 20px;
  text-shadow: ghostwhite 0 0 10px;
}

.deleteButton:hover {
  box-shadow: #dc3545 0 0 20px;
  text-shadow: ghostwhite 0 0 10px;
}

.editButton {
  background-color: #1A9CC5;
}

.deleteButton{
  background-color: #dc3545;
}


.blueLine {
  border: 2px solid #1a9cc5;
  opacity: 100%;
}
