/* You can add global styles to this file, and also import other style files */
::selection{
  background-color: #005B52;
  color: ghostwhite;
}

html{
  background-color: ghostwhite !important;
  font-family: Roboto, sans-serif;
}

.customButton{
  background-color: #005B52;
  color: ghostwhite;
  font-weight: bold;
  border-radius: 15px;
  transition: all 0.5s ease;
}

.customButton:hover, .customButton:active, .customButton:focus {
  box-shadow: 0 0 20px #005B52;
  background-color: #005B52;
  color: ghostwhite;
}

.mc-green {
  background-color: #005B52;
}

.textGreen {
  color: #005B52;
}

.btn-blue {
  color: #1a9cc5;
}

/*Font-Awesome*/

.white-fade {
  color: #fff;
  transition: color 0.5s;
}

.white-fade:hover {
  color: #ccc;
}

.add-fix {
  width: 32px;
}

.non-pointable {
  cursor: default;
}

.pointable {
  cursor: pointer;
}

.starRating{
  color: #1a9cc5;
}

/* notification style EXAMPLE */

.notifications {
  position: absolute;
  top: 70px;
  right: 20px;
  z-index: 1000;
}

.notification {
  background-color: #005B52;
  color: ghostwhite;
  font-weight: bold;
  border-radius: 15px;
  transition: all 0.5s ease;
  padding: 10px 5px;
}

.notification:hover {
  cursor: pointer;
  box-shadow: 0 0 20px #005B52;
}
