.greenText{
  color: #005B52;

}

.greenText{
  color: #005B52;

}
.searchBanner{
  color: white;
  background-color: #005B52;
  border-radius: 15px;
}
.blueButton{
  background-color: #1A9CC5;
  border-radius: 15px;

}
.blueText{
  color: #1A9CC5;
}
.inputBanner{
  border-radius: 20px;
}
.inputBanner::placeholder{
  color:black;
}
.inputLowBanner{
  border-radius: 10px;
  border-color: #005B52;
  color: #005B52;
  height: 30px;
}
.inputLowBanner::placeholder{
  color: #005B52;
  opacity: 50%;
}
.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: large ;
}

.horizontal-right {
  display: flex;
  justify-content: end;
}
.horizontal-center {
  display: flex;
  justify-content: center;
}
.greenButton{
  background-color: #005B52;
  color: white;
  border-radius: 15px;
}
.card{
  border-radius: 10px;
  border-color: #005B52;
}
.card:hover{
  box-shadow: 0 0 20px #005B52;
}

.highlightText{
  color: black;
  font-weight: bold;
}



.margin-vertical {
  margin-top: 20px;
  margin-bottom: 20px;
}



.star-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.star-button:hover {
  opacity: 0.7; /* Reduce opacity on hover */
}

.star-icon {
  color: #1a9cc5; /* Set icon color */
}

.star-button.filled .star-icon {
  color: #1a9cc5; /* Color for filled state */
}


.profilPic{
  width: 50px;
  height: 50px;
  margin: 1rem;
}

.profileCircle {
  width: 6.25rem;
  height: 6.25rem;
  margin: 1rem;
  border-radius: 50%;
  box-shadow: 0 10px 0 #005B52;
  object-fit: cover; /* Crops the image to fit the container */
  object-position: center; /* Centers the image */
}


.ReviewText{
  margin: 2rem;
}
