<div class="container">
  <div class="row " *ngFor="let review of reviewsArray">
    <div class="col-lg-12 col-12">
      <div class="card m-4">
        <div class="row no-gutters flex-column flex-lg-row card-horizontal">
          <div class="col-lg-12">
            <div class="card-body">
              <div class="headline">
                <h5 class="card-title greenText">{{ review.writer.firstName }} {{ review.writer.lastName }}</h5>
              </div>
              <div class="col margin-vertical ">
                <div class="stars" >
                  <button class="star-button" *ngFor="let filled of getStarsArray(review.rating)">
                    <fa-icon [icon]="filled ? faStar : faStarRegular" class="star-icon"></fa-icon>
                  </button>
                </div>
                <img *ngIf="profilePic === 'empty.png' " class="profileCircle" [ngSrc]="pathToImage" alt="profile" width="150" height="150">
                <img *ngIf="profilePic !== 'empty.png' " [ngSrc]="window.location.protocol + '//' + window.location.host.replace('4200', '8000') + '/user/image/'+ profilePic" width="70" height="55" class="card-img-top img-fluid backgroundGreen profileCircle my-4" alt="">
              <div [ngClass]="reviewContent" class=" ReviewText">
                <p>{{ review.text }}</p>

              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
